[2012-07-01 07:52] huxuan opened #8 "No Compile Error/Warning in Sample"
There is some error/warning when compiling the sample file.
Although we can just ignore it temporarily, we should leave it forever!

[2012-07-01 08:12] huxuan opened #9 "本科生的任务书"
RT

[2012-07-01 08:12] huxuan opened #10 "本科生的首页"
RT

[2012-07-01 08:13] huxuan opened #11 "Documentation"
RT

[2012-07-01 08:14] huxuan opened #12 "Move to dtx and docstrip"
RT

[2012-07-02 07:15] huxuan opened #14 "杂项：(多)图片、(长)表格、代码等"
RT (copy from previous to do list)

[2012-07-02 13:50] #9 closed, assigned to huxuan

[2012-07-03 01:51] huxuan opened #19 "Move README to do list to Issues"
At the beginning, I want to use "to do list" in README to show the progress.
Finally I find it wrong. Issues is a more suitable choice.
- Avoid useless commit related to the change of README.
- More usability with assign and milestone.
- More flexible
- Interact with more than who have the privilege to commit
- Many other more advantages

[2012-07-03 04:22] huxuan opened #20 "Support Reference in Makefile"
Makefile里应该直接支持参考文献的生成

[2012-07-03 05:37] #19 closed, assigned to nobody

[2012-07-03 08:07] huxuan opened #22 "Strange "! Missing = inserted for \ifnum." Error"
Currently, we will encounter compile error like below.

[code]

We should absolutely solve it.

[2012-07-04 02:41] huxuan opened #24 "support subtitle"
副标题应该得到支持

[2012-07-06 02:48] #10 closed, assigned to JosephPeng

[2012-07-06 03:47] huxuan opened #27 "pdfauthor"
Check the options of pdf author

[2012-07-06 06:18] #22 closed, assigned to huxuan

[2012-07-06 10:00] huxuan opened #29 "amsthm宏包支持"
A possible example

[code]

[2012-07-06 10:01] huxuan opened #30 "表格中的字体设置"
表内文字为5号宋体和time new roman字体

在正文中只需要使用表格环境，而不需要再设置字体

[2012-07-06 10:02] huxuan opened #31 "每章第一页也有页眉页脚"
现在的pagestyle是empty的

[2012-07-06 15:36] huxuan opened #32 "页边距还是有问题"
页边距的问题还比较大，感觉整体向下偏移了

[2012-07-07 04:56] #31 closed, assigned to huxuan

[2012-07-07 04:56] #27 closed, assigned to huxuan

[2012-07-07 04:56] #30 closed, assigned to huxuan

[2012-07-10 05:22] huxuan opened #36 "本科生毕设论文章节标题"
章节标题应该只是章节对应的数字+章节题目，但是现在是 第××章+章节题目

[2012-07-10 14:48] #32 closed, assigned to nobody

[2012-07-21 11:00] #36 closed, assigned to huxuan

[2012-07-23 04:33] #29 closed, assigned to nobody

[2012-07-23 04:33] #14 closed, assigned to JosephPeng

[2012-07-23 14:21] huxuan opened #53 "1.0 Release"
- git tag
- pack and downloads

[2012-07-23 14:24] huxuan opened #54 "Upload related install file onto fgbt"
上传相关的安装文件到未来花园，包括但不限于
- <del> TeXLive 2012 （iso文件/网络安装文件）</del>
- CTeX 最新版本 (截至20121010，最新版本为 v2.9.2.164)

达成目标：
- 上传所有文件，并整理出链接
- 添加到说明文档中

[2012-07-27 06:21] huxuan opened #60 "章节标题中英文貌似不是粗体？"
RT

[2012-08-01 15:19] huxuan opened #66 "bib file"
- example of different types
- add reference of material or other repos used in documentation

[2012-08-03 15:13] #20 closed, assigned to huxuan

[2012-08-14 13:53] #8 closed, assigned to huxuan

[2012-08-20 07:52] #60 closed, assigned to huxuan

[2012-08-20 07:54] huxuan opened #71 "Font Problems about Times New Roman"
Currently \setmainfont{Times New Roman} seems not to work.
You can open the property of the pdf file generated, there will be a tab showing fonts information.
As for me, I just get some 'LMRoman' like fonrs instead of "Times New Roman".

It's REALLY a BIG problem!

[2012-09-27 00:18] huxuan opened #73 "Add QQ Qun in the document"
RT

[2012-10-28 07:06] huxuan opened #76 "Add Fonts Installation on Linux Instruction in Template"
Copy fonts
Make sure the files is chmod 644

[2012-10-28 07:45] huxuan opened #77 "Long title Problem"
Long title isn't well supported right now.
Problems not limited to
- English Index for Master didn't wrap
- Chinese Index for all push all other things down to another page.

An example for thesistitle in data/com_info.tex

[code]

[2012-10-28 07:51] #11 closed, assigned to nobody

[2012-10-28 07:52] #71 closed, assigned to nobody

[2012-11-04 09:01] huxuan opened #81 "Fill Chapter 6"
the corresponding file is /data/chapter6.implement.tex

[2012-11-04 09:02] #73 closed, assigned to nobody

[2012-11-04 09:43] #24 closed, assigned to JosephPeng

[2012-11-04 09:43] #77 closed, assigned to nobody

[2012-11-04 09:59] huxuan opened #80 "Fill ContactUs Appendix"
the corresponding file /data/appendix-contactus.tex

[2012-11-09 08:28] huxuan opened #83 "Error reference of subfigure"
The following is from Yue (also thx here):

The screenshot can be seen here:

http://i.imgbox.com/acrnZ0Lo.jpg
http://i.imgbox.com/adrSiVZg.jpg

P.S. It's for master not bachelor

[2012-11-09 10:57] #83 closed, assigned to nobody

[2012-11-27 10:08] grissiom opened #85 "“主要符号对照表”后面还有一页表格目录"
这个是对的？

[2012-11-27 13:45] huxuan opened #86 "Bold “Abstract” and "Keyword""
In English abstract page
both the abstract and keyword title shold be bold

[2012-11-29 03:12] #85 closed, assigned to nobody

[2012-11-29 05:12] #86 closed, assigned to nobody

[2012-11-30 03:09] grissiom opened #89 "硕士论文的公式编号应该是 1.1 的格式，而不是 1-1 的格式……"
RT。暂时不知怎么改……

[2012-11-30 04:36] MonsterMan opened #90 "参考文献引用问题。"
1、参考文献列出了bib中所有的文献，而不是只列出已引用的文献。
2、参考文献顺序是bib中文献的顺序，而不是按照引用顺序。

麻烦修改一下。
THX

[2012-11-30 06:31] #89 closed, assigned to nobody

[2012-11-30 16:11] #90 closed, assigned to JosephPeng

[2012-12-01 02:33] hellobiek opened #93 "还有一些bug"
根据研究生手册
第一页的封皮
1，应该是     硕士学位论文  而不是 学术硕士论文
2，学术硕士论文上面的“北京航空航天大学 下面也没有英文”
另外
3，第一章或者绪论之前不要有页眉页脚。
目前就是这些，还有其他的再找找。

[2012-12-01 03:18] hellobiek opened #94 "Listings下面的说明"
Listings，生成的Listings的关于Listings的label的格式说明和论文对图的label的格式不一样。正确的应该是

中文       五号宋体加粗
数字英文 五号Times NewRoman加粗

不知道怎么改......

[2012-12-01 03:33] hellobiek opened #95 "图目"
生成的图目也有问题，章与章之间的图label的间隔比章内部的图目的间隔大很多。

例如假设图1,2是第一章的图 而 3,4是第二章的图 ，则会出现以下结果。

1 图1
2 图2

3 图3
4 图4

[2012-12-01 07:22] #93 closed, assigned to huxuan

[2012-12-01 07:22] #95 closed, assigned to huxuan

[2012-12-01 07:50] #94 closed, assigned to nobody

[2012-12-01 08:37] hellobiek opened #98 "表目"
1，名称要改，叫表目
2，表目的间隔
3，绪论前面的 页脚的页码最好是小写的罗马文字
4，有时候会生成多月的空白页。

[2012-12-01 10:03] hellobiek opened #99 "图和后面正文文字的距离"
每次用完一个图以后，后面正文的距离怎么调整？我现在的模板的距离有点大。
example，
~
distance is too large
~
————————
|                               |
|       fig abc            |
|_____________|
     label XX
~
distance is too large
~
asdsdfadsf

[2012-12-01 11:17] #99 closed, assigned to nobody

[2012-12-01 11:58] huxuan opened #101 "Workflow or HOW TO USE IT in README"
需要在README里添加一个简单的Workflow或者叫How to use it
主要是要考虑怎样才能平滑和BHOSC/BUAAthesis更新
也就是说不要修改repo里的任何文件
比如说把全部内容性质的文件复制一份，全部加上前缀my或者其他什么都行
需要复制的文件已经可以复制成的文件(夹)名称
- sample-[bachelor|master].tex -> mythesis.tex
- data/ -> mydata/
- figure/ -> myfirgure/ (figure 文件夹也可以不复制直接新建即可)

然后还有修改一下mythesis.tex里的include
好吧，如果看到这里你应该也发现我的思路比较混乱，主要还真实的写过
还望能提供一点意见和建议，或者整理一个出来那么最好了！

[2012-12-02 01:44] #98 closed, assigned to huxuan

[2012-12-02 08:09] hellobiek opened #103 "页眉"
当选择单页打印时
 奇偶页的页眉都是   北京航空航天大学硕士学位论文

[2012-12-04 11:33] #103 closed, assigned to huxuan

[2012-12-07 02:30] hellobiek opened #106 "关键词"
关键词不支持 换行，中文行，英文都不行。

[2012-12-07 08:34] #106 closed, assigned to huxuan

[2012-12-08 02:52] hellobiek opened #108 "参考文献生成后多出一页"
生成的文档中参考文献多以页，什么原因？

[2012-12-08 03:02] hellobiek opened #109 "参考文献生成后多出一页"
生成的文档中参考文献多以页，什么原因？

[2012-12-08 04:29] #109 closed, assigned to nobody

[2012-12-08 07:37] #108 closed, assigned to nobody

[2012-12-08 08:59] grissiom opened #110 "把图的 caption 挪到图的上方会导致图下面所有的文字都变成黑体……"
这个问题或许不是咱们模板的问题。放到这里为了寻求帮助……

重现的步骤是把 sample chapter4 第 277 行的 caption 挪到 includegraphics 上面，编译之后就可以发现两个图后面的所有文字都变成黑体了……

这个应该怎么解决呢？……

[2012-12-09 02:40] hellobiek opened #111 "加粗问题"
论文的论文题名页中的

中国分类号和论文编号 应该要加粗

[2012-12-09 04:16] #111 closed, assigned to huxuan

[2012-12-11 07:16] grissiom opened #114 "参考文献的人名应该只有首字母大写"
用默认的 bst 会使得所有字母都大写…… 虽然可以用加{}的形式处理，但总是不爽……

[2012-12-11 07:18] grissiom opened #115 "bib 里 inproceedings 的处理不对"
应该是 title[A]. booktitle[C]。bst 处理成了 tile[C]//booktitle 的格式……

[2012-12-12 04:58] hellobiek opened #116 "图录表录"
就是显示的时候如何改成
由 i改成
图 i    (i=1,2,....,n)

和

表i   (i=1,2,...,n)

[2012-12-13 15:15] hellobiek opened #118 "参考文献间距太大"
这个间距怎么调整？

[2012-12-14 09:11] #114 closed, assigned to nobody

[2012-12-14 09:47] #116 closed, assigned to nobody

[2012-12-15 13:54] hellobiek opened #119 "如何才能添加2个导师"
如题，本人有两个导师，都想加上......

[2012-12-17 08:19] #118 closed, assigned to huxuan

[2013-04-03 15:29] wangkexue opened #124 "xelatex编译错误"
编译环境：win7 + ctex2.92 full
xelatex sample-bachelor.tex

it turns out:
Command Line:   xelatex.exe --interaction=errorstopmode --synctex=-1 "sample-bachelor.tex"
Startup Folder: C:\Users\Administrator\Desktop\BUAAthesis-master

This is XeTeX, Version 3.1415926-2.3-0.9997.5 (MiKTeX 2.9)
entering extended mode
(C:\Users\Administrator\Desktop\BUAAthesis-master\sample-bachelor.tex
LaTeX2e <2011/06/27>
B

[2013-04-13 14:17] yuhuazou opened #126 "公式中使用 \bf 或 \mathbf 出错"
在公式中使用 \bf 或 \mathbf 时会出现“Too many math alphabets used in version normal”的错误。Google发现可能是 amsmath, bm 和 txfonts 等包同时使用时冲突造成的。我目前暂时用 \bm 替代，但不是所需的效果。请问怎么解决上述冲突问题？

Command Line:   xelatex.exe --interaction=errorstopmode --synctex=1 "thesis.tex"
Startup Folder: E:\Google Drive\My Papers\Doctoral Thesis\My_PhD_Thesis

This is XeTeX, Version 3.1415926-2.3-0.9997.5 (MiKTeX 2.9)
entering extended mode
("

[2013-05-23 08:14] #126 closed, assigned to nobody

[2013-05-23 08:14] #124 closed, assigned to nobody

[2013-05-23 08:16] huxuan opened #127 "Remove `adobefonts` option in sample-bachelor.tex"
RT

[2013-05-24 04:08] #119 closed, assigned to nobody

[2013-05-24 04:08] #54 closed, assigned to nobody

[2013-05-24 04:26] yuhuazou opened #129 "使用 algorithm+algorithmic 包出错"
使用 algorithm+algorithmic 包写算法步骤时出错，会出现 Command \LOOP already defined 的错误，使用 \savesymbol 指令把 \LOOP 和 \REPEAT 保存后这个错误没有了，但会出现 \Require undefined 的错误。

测试代码：

% !Mode:: "TeX:UTF-8"
\documentclass[doctor,openright,twoside,color]{buaathesis} % for pdf version

\usepackage{mathdots}
\savesymbol{LOOP}
\savesymbol{REPEAT}
\usepackage{algorithm}
\usepackage{algorithmic}
\floatname{algorithm}{Algorithm}
\re

[2013-05-26 08:13] #127 closed, assigned to huxuan

[2013-06-08 18:13] leafduo opened #132 "缺少译文的模版"
前略，我们缺个译文的模版，所以我尝试来做一下……

（时间不允许的话我就贴个 word 交了……）

[2013-06-28 07:22] buaagg opened #134 "添加课程设计小论文模版"
除了毕业设计，可能我们需要做得更加多的是平常的课程设计小论文。如果有一个轻量级的小论文模版，可能会更加方便一些。

[2013-11-07 18:18] #134 closed, assigned to nobody

[2013-11-07 18:20] #132 closed, assigned to nobody

[2013-11-20 04:14] JosephPeng opened #135 "研究生论文的目录后面的页码字号不同"
研究生论文部分，在生成目录后，目录条目后的页码字号不同，需要将cls中的第200行左右开始的那几行中的`\contentspage` 的格式再统一一下。

[2013-11-20 04:16] #110 closed, assigned to nobody

[2014-03-12 11:03] songjinghe opened #139 "xelatex can't find font 。。。。"
[code]

the same problem occured soon with SIMFANG.TTF not find 。。。。
so I just copy the two fonts to the project root directory, then the problem disappeared.

PS: Lots of strange errors were throwed when I use texlive 2009 ( I'm still using ubuntu 11.04 :-) until I install texlive 2013 。。。。Maybe you can put this note to the README.md ~ ~

when using texlive 2013 you should edit your "ctex-xecjk-w

[2014-03-12 11:03] #139 closed, assigned to nobody

[2014-03-21 09:23] cshishaliu opened #140 "博士论文英文封面页 学位名称修改"
博士论文英文封面页中，论文标题的下面应该是

A Dissertation Submitted for the Degree of Doctor of Philosophy

目前的模板中似乎没有最有两个单词：“of Philosophy”
不过这个很容易改，只是我对git不太熟悉，所以只能麻烦各位contributor了。

[2014-03-24 08:19] #140 closed, assigned to nobody

[2014-03-24 08:35] #135 closed, assigned to nobody

[2014-04-02 15:18] ScottChaung opened #142 "在ubuntu下编译时出错"
提示是找不到 simkai 这个字体,但是我是安装了的. 请问有啥解决方案么.

[2014-04-03 02:43] #142 closed, assigned to nobody

[2014-04-29 05:59] cshishaliu opened #143 "arraystretch 调整"
sample-master.tex 文件的 21-22 行：

[code]

这个命令会对数学公式中的矩阵起作用。
有这行命令会导致矩阵 (如 pmatrix 环境) 中的行距大得难看。
没有这行又会导致表格 (如 tabular 环境) 中的行距小得难看。

可否让它仅对表格环境起作用？
另外，这个是不是应该放在 cls 文件里面会好一些？

[2014-05-12 14:45] KagamiChan opened #144 "caption格式设置中\bf覆盖\songti的问题"
从我接触到的几个版本的《研究生撰写学位论文的规定》来看，硕士论文的图表caption用的是宋体5号加粗。

在现有的caption设置当中，由于`\bf`在`\songti`之后，会覆盖`\songti`的字体设定，导致最终使用的是黑体。

我的cls不是最新的，因为自己用的时候随手改了几个地方，所以不知道新版本有没有修正

[2014-05-23 02:35] fuzihaofzh opened #145 "请问矩阵很狭长怎么解决？"
\begin{equation}
\begin{bmatrix}
x1 &y1 &1 \
x2 &y2 &1 \
x3 &y3 &1
\end{bmatrix}
\end{equation}
这样的出来的矩阵特别狭长（如图），看起来就像是每行之间还有空行，请问怎么解决？

![image](https://cloud.githubusercontent.com/assets/1419566/3062566/c9b9f038-e222-11e3-85ca-226dae440baa.png)

[2014-05-25 08:33] luohancfd opened #146 "BUG: 指导教师名字不居中"
位置：buaathesis.cls  497行
详情：\buaa@teacher和\buaa@subteacher中间的\quad会造成当不存在\buaa@subteacher时，\buaa@teacher后面空出一个格，编译出的pdf文件指导教师的姓名不居中，建议根据\buaa@subteacher的值是否存在来决定是否要加\quad

[2014-05-27 05:27] #145 closed, assigned to nobody

[2014-05-30 09:12] songjinghe opened #147 "代码中如何使用等宽字体"
如题，怎样在引入的代码中使用等宽字体，现在好像是time new roman的，实在是看不下去了。。。
我试着`basicstyle=\fontfamily{DejaVu Sans Mono}\footnotesize`也不行。。。

[2014-06-01 12:54] #147 closed, assigned to nobody

[2014-06-01 17:38] #144 closed, assigned to nobody

[2014-06-03 08:29] fuzihaofzh opened #150 "附录里面的图编号"
感谢开发人员提供了这个模板。现在遇到一个小问题，就是附录的图的编号是接着正文进行编号的，请问能编成如 图A.1 这种格式吗？与之相同的还有表、代码等等。谢谢！

[2014-06-04 12:30] fuzihaofzh opened #151 "建议：增加参考文献的制作"
这里面没有参考文献，建议增加参考文献的示例，谢谢~~

[2014-06-06 06:30] #151 closed, assigned to nobody

[2014-06-06 16:04] songjinghe opened #152 "使用目录结构跨页时出现格式问题"
说不清楚，直接上图：
![screenshot](https://cloud.githubusercontent.com/assets/3754416/3202758/e13a609a-ed93-11e3-876c-89b6373d9fe1.png)
代码是直接照搬的，可是模板里没有这个问题。。。。

[code]

[2014-06-08 00:56] songjinghe opened #154 "请问如何修改为毕设翻译的模板"
毕设翻译要求的格式与论文一样。但是论文的页眉上写的是“北京航空航天大学毕业设计（论文）”，如果我想把改成“北京航空航天大学毕业设计（翻译）”是怎么个做法？在文件夹里用：

[code]

居然没有结果。。。求高人指点。。。。

[2014-06-08 04:25] #152 closed, assigned to nobody

[2014-06-08 11:22] #154 closed, assigned to nobody

[2014-06-10 04:57] songjinghe opened #155 "参考文献里好多 .[S.l.]: [s.n.]"
我下载了最新的模板编译后还是有这个问题。。。。
我用的是texlive2013
详见：https://github.com/BHOSC/BUAAthesis/issues/115#issuecomment-45571540

[2014-06-18 13:28] fuzihaofzh opened #157 "建议：添加一个致谢页"
一般国外的论文在摘要前面都有一个致谢之类的一页，就一句话那种，可以做个模板大家酌情使用。

[2014-06-19 18:31] KagamiChan opened #158 "硕士论文的学位论文使用授权书 两个签名行间距需要加大"
更新到最新版本的TeXLive 2014 Win下边ctex包暂时出现了不兼容的问题，所以本来想自己弄一下的，现在都无法编译了……先开issue吧。

实际签字的时候会发现，论文作者签名行和指导教师签名行的行间距应该加大一点，否则导师签字的时候会感到不爽的。

实际上word《撰写学位论文的规定》里边是用了一个空行来增大间距的

===========

附编译log，我觉得像是ctex本身的不兼容bug：
[code]

[2014-07-09 14:24] #157 closed, assigned to nobody

[2014-07-09 14:35] fuzihaofzh opened #159 "“et al”和“等”"
在参考文献里面，中文文献也成了et al，怎么把他们换成等？我试过在最后一个加上一个作者叫“等”，但是当有三个作者时失效。

[2014-07-13 08:58] #159 closed, assigned to nobody

[2014-07-13 12:56] fuzihaofzh opened #160 "不需要章节编号的结论"
请问，在论文中如何添加没有章节编号的“结论”一章？

[2014-07-14 13:51] fuzihaofzh opened #161 "目录中没有图目录，表目录和符号对照表"
目录中没有图目录，表目录和符号对照表，直接一开始就是第一章，请问这个该如何修改？

[2014-11-25 04:40] fuzihaofzh opened #164 "图目录和表目录的编号"
图目录和表目录中的序号直接是1,2,3，怎么改成图1，图2，图3？

[2014-11-29 12:46] #164 closed, assigned to nobody

[2014-12-21 09:05] #161 closed, assigned to nobody

[2014-12-22 15:23] #160 closed, assigned to nobody

[2014-12-25 17:33] #150 closed, assigned to nobody

[2014-12-27 00:44] #143 closed, assigned to nobody

[2015-05-05 05:18] txsing opened #166 "Win8.1下 安装WinEdt+Ctex 编译报错"
Command Line:   texify.exe --pdf --tex-option=--interaction=errorstopmode --tex-option=--synctex=1 "C:\Users\tianxing\Downloads\BUAAthesis-master\BUAAthesis-master\sample-master.tex"
Startup Folder: C:\Users\tianxing\Downloads\BUAAthesis-master\BUAAthesis-master

This is pdfTeX, Version 3.1415926-2.3-1.40.12 (MiKTeX 2.9)
entering extended mode

(C:/Users/tianxing/Downloads/BUAAthesis-master/BUAAth

[2015-05-05 05:19] txsing commented on #166
(C:\CTEX\MiKTeX\tex\latex\tools\bm.sty)texify: pdflatex.exe failed for some reason (see log file).
pdflatex.exe出错误，不知道为什么....

[2015-05-05 12:05] huxuan commented on #166
Please specify the compiling command you use.

P.S. BUAAthesis should be compiled via XeLaTeX as documented.

[2015-05-28 13:55] LiVincent-Zhang opened #167 "关于引用与链接的颜色问题"
我在用这个模板的过程中，发现引用和链接都是有颜色的，虽然最后黑白打印出来没有关系。但是电子版的文章可以有这个颜色么？

P.S. 用latex写的文章能拿去查重么？

谢谢各位啦~

[2015-05-28 15:47] Klusting commented on #167
把\documentclass选项里的color去掉就没有颜色了

[2015-05-28 15:50] Klusting opened #168 "mhchem包会导致排版错误"
使用mhchem包后正文每一页内容都会上移，第一行会跑到页眉上面。

[2015-05-29 02:45] huxuan commented on #167
有颜色是为了电子版打印方便的，documentclass 里面有选项可以设置成黑白的。
查重的话不是很清楚，但是不属于模板本身的问题了，所以这个 issue 就先关掉了哈，有问题可以随时reopen。

[2015-05-29 02:45] #167 closed

[2015-05-31 03:13] JosephPeng commented on #168
Nope. 如下图所示，在导言区加入mhchem包后直接使用即可，排版无问题。
使用环境：Win7，TexLive2013，XeLatex编译，在最新的BUAAthesis模板上编译正常。
请题主确认是否代码OK，编译环境OK。

![q](https://cloud.githubusercontent.com/assets/1856720/7900381/b3f46132-0785-11e5-8e83-ce7484520a1e.jpg)

[2015-05-31 03:17] JosephPeng commented on #166
请用Xelatex编译

[2015-05-31 12:35] huxuan commented on #166
Close temporarily as no further response received, feel free to reopen it if you have any further question. @txsing

[2015-05-31 12:35] #166 closed

[2015-06-01 19:17] BrushXue opened #169 "请把thanks改名为acknowledgement"
班里好几个同学吐槽过这个问题了，建议修改/data/bachelor/thanks.tex文件名为acknowledgement
这种低级词汇错误最好还是不要让全世界看到。

[2015-06-02 01:38] huxuan commented on #169
@BrushXue Hi, thanks for your bug reporting. I would appreciate more if you send a pull request to solve this issue. :-)

[2015-11-11 05:51] LiVincent-Zhang opened #170 "Subfigure不换页"
使用subfigure引入很多图片后，图片不会自动切分到第二个页面上。

![beddaad7-d891-4dfc-838e-9212dffbdb80](https://cloud.githubusercontent.com/assets/11719866/11084849/059ac6ea-887b-11e5-8d9c-80fc92b74679.png)

[2015-11-11 07:15] #155 closed

[2015-11-11 07:18] hengshanji commented on #155
应该用texlive2015 这样应该就没有问题了，我也是今年的毕业生，必须用2015版的

[2015-11-11 14:28] huxuan commented on #170
这是subfigure本身的问题吧，似乎不是模板本身可以解决的……

[2015-11-11 14:33] huxuan commented on #170
@JosephPeng 有啥意见不？

[2015-11-11 14:33] huxuan commented on #155
@hengshanji 谢谢你的反馈确认~

[2015-11-12 07:08] LiVincent-Zhang commented on #170
@huxuan 我本来想试试subfloat的，但是在导言区加入\usepackage{subfig}报错。

`Undefined control sequence.`

因为对latex的模板语法不是很熟悉，所以想请问下，是否是加入的位置不对。

P.S. 系统OSX 10.11

[2015-11-13 08:29] huxuan commented on #170
@LiVincent-Zhang 在自己的tex里加应该是不会有问题的

[2015-11-18 07:33] jmaximelv opened #171 "table中加脚注方法"
http://tex.stackexchange.com/questions/35615/footnote-in-table

\documentclass{article}
\usepackage{tablefootnote}
\begin{document}

\begin{table}
  %\begin{center}% replaced by \centering
  \centering
    %\begin{footnotesize}
     \begin{tabular}{|l|l|l|}
     \hline
     TPA & Components & Cost \\ \hline
      & Total & 56558.4 \\ \hline
     \end{tabular}
    %\end{footnotesize}
    \caption[H

[2015-11-19 09:17] huxuan commented on #171
Hi @jmaximelv , 我想你这个应该是算作sharing？如果文档中没有提到的话，可以考虑加到我们的文档里面~能提交PR什么的就更好了~

[2015-11-19 12:24] jmaximelv commented on #171
PR什么意思？
原文档“chapter4-basic.tex”中有如下内容：
“如果在表格中需要使用脚注(footnote)功能，则需要将浮动表格环境置于一个minipage中，
否则脚注会被内容所吞掉。比如下表所示。但目前能力有限，无法将此表格居中，也无法添加
表格标题和引用。待改进。”

我直接将\usepackage{tablefootnote}加到buaathesis,cls中，并用tablefootnote代替footnote即可。

[2015-11-19 13:29] huxuan commented on #171
@jmaximelv PR是pull request，是说把相应的内容加入到模板和文档里，然后以代码修改的形式提交上来。

[2015-11-20 05:23] huxuan commented on #171
Close as we will discuss about it in #172

[2015-11-20 05:23] #171 closed

[2015-11-28 13:56] ericuni opened #173 "列表与中文习惯不一致"
列表的中文习惯一般是下面这样的, item 开始会缩进, 内容换行之后是与正文左对齐, 如图[1]所示.
我自己尝试了setlist的很多变量, leftmargin, labelindent, labelwidth, labelsep 但是没有成功.
[1]: http://imgbox.com/4YJKY9Gl

[2015-11-29 05:09] huxuan commented on #173
http://tex.stackexchange.com/questions/78167/indentation-within-an-itemized-list

你指的是不是这个链接里的问题？这个应该算是LaTeX自带命令的使用吧，并不是模板里实现的内容，我把这个标记成为问题了（不是一个bug）

[2015-11-29 08:01] ericuni commented on #173
是同一类的问题, 后面给出的解答还是没有达到我给出的图片的效果.
item 的label 应该缩进两个中文字符.
item 里面内容过长时, 换行后的开头应该与正文对齐, 而不是与item 内容的第一行对齐.

使得输入下面的内容
[code]
得到的结果为图[2].
也就是与输入下面的内容得到的结果一样
[code]
[2]: http://imgbox.com/Z1PgLjnJ

[2015-11-29 10:44] huxuan commented on #173
This may be useful. http://tex.stackexchange.com/questions/79938/hanging-indent-inside-list

Actually, I though you should Google it rather than asking help here, that will be more efficient.

As this is not a bug of BUAAthesis, I will close this issue.

[2015-11-29 12:32] ericuni commented on #173
I just read your link, but it did not solve my problem.
And I have truly tried Google last night for a long time, but unfortunately still not found the answer.
The most close one is http://tex.stackexchange.com/questions/184780/can-someone-please-explain-the-enumitem-horizontal-spacing-parameters.
Finally, I have to use the hard code to achieve the desired effect.
Thanks anyway.

[2015-11-29 13:54] ericuni commented on #173
I tried again and I made it.
http://imgbox.com/ommGP1H8
[code]

[2015-11-29 15:10] nilday opened #174 "章标题后首段没有段首缩进"
很奇怪，就章标题后的第一段没有段首缩进。还有就是\begin{enumerate}里面的内容也没有缩进。

对于章标题，我试过手动加\indent \par\indent \par\setlength{\parindent}{2em} ，三种方式都不管用。

上图：
![enumerate](https://cloud.githubusercontent.com/assets/3797285/11457830/2a877a1c-96ee-11e5-9e28-461ca79c8ffc.png)
![zhangbiaoti](https://cloud.githubusercontent.com/assets/3797285/11457831/2aa789f6-96ee-11e5-862d-d6b085cdd8f1.png)

[2015-11-30 01:13] hengshanji commented on #174
每章开始那里加quad就行发自网易邮箱大师
            在2015年11月29日 23:10，Howard 写道:很奇怪，就章标题后的第一段没有段首缩进。还有就是\begin{enumerate}里面的内容也没有缩进。

对于章标题，我试过手动加\indent \par\indent \par\setlength{\parindent}{2em} ，三种方式都不管用。

上图：

—Reply to this email directly or view it on GitHub.

[2015-11-30 01:28] LiVincent-Zhang commented on #174
我加的都是qquad 

Sent from Outlook

On Sun, Nov 29, 2015 at 5:13 PM -0800, "hengshanji" <notifications@github.com> wrote:

        每章开始那里加quad就行发自网易邮箱大师

            在2015年11月29日 23:10，Howard 写道:很奇怪，就章标题后的第一段没有段首缩进。还有就是\begin{enumerate}里面的内容也没有缩进。

对于章标题，我试过手动加\indent \par\indent \par\setlength{\parindent}{2em} ，三种方式都不管用。

上图：

—Reply to this email directly or view it on GitHub.

—
Reply to this email

[2015-11-30 02:32] nilday commented on #174
我已经解决了首段缩进的问题，在buaathesis.cls文件中加入
% 首段缩进
\usepackage{indentfirst}

就是不知道有没有副作用。

\begin{enumerate}缩进的问题还没搞。

[2015-12-03 01:35] huxuan commented on #174
@nilday 在sample的代码里似乎并没有出现相同的问题，能再确认一下是哪里的错误么？

@hengshanji @LiVincent-Zhang 希望最好不要用邮件直接回复的功能，登录到github上来之后就可以看到邮件回复的效果是多么糟糕了……

[2015-12-03 01:39] huxuan commented on #173
赞~似乎这个问题 #174 里也提到了，我不太确定这些代码是不是应该放到buaathesis.cls里作为全局的设置。 @JosephPeng 有啥意见不？

@ericuni 如果你有意愿将这些代码加入到cls里并以pull request的方式提交上来那就最好了~

[2015-12-03 01:44] huxuan commented on #174
#173 里面提到了关于 enumerate 的问题，可以参考一下看是否解决，以及希望能帮忙确定一下，那些关于enumerate的代码是否应该放到cls里呢？比如是否普遍使用，是否支持多级列表，毕业好多年的娃表示一忙起别的是就没啥动力来倒腾了……

[2015-12-03 01:52] huxuan opened #175 "Call for Maintainers"
又要到了准备毕业论文的季节了，BUAAthesis又火了起来，很高兴大家能对这些工作的认可，大部分成就归功于 @JosephPeng ，他做了几乎所有的基础工作，我只是在后来的基础上进行了一些改进和维护。不过有一个现实问题是我俩都毕业好多年了，所以已经没有非常大的精力来维护这个项目了。如果可以，希望有人能将这个模板传递下去。

如果你有意成为维护者，我们可以将你的名字写入到项目的sample文档里，也会给你提供这个repo的write权限。当然在此之前的基本条件是你提交并被通过一个修改cls的pull request，也就是大致确认你知道如何修改cls（虽然正规的应该用dtx写才对，这是历史遗留问题）。

可以直接在这个issue下面留言回复，我们也有一个关于LaTeX的QQ群，群号是131236727。

Wish for your coming。

[2015-12-03 03:40] ericuni commented on #173
待@JosephPeng 回复后, 我非常乐意以 pull request 的方式提交上去.

[2015-12-03 14:07] nilday commented on #174
sample中两个问题均出现了。
一个是第四章章标题后的文字。
![sample-](https://cloud.githubusercontent.com/assets/3797285/11562586/cbcc6f2c-9a09-11e5-8cab-654c54d48e07.png)
第二个是第四章的内容4.7.2
![sample-](https://cloud.githubusercontent.com/assets/3797285/11562585/cb9ae61e-9a09-11e5-916c-cadbad748e7d.png)

关于第一个问题，我查了一下，应该用
\usepackage{indentfirst}
解决，不知道是否有副作用。
关于第二个问题，我参考一下173的解决方案看看能不能行。

还有一个问题，关于页边距，cls文件中写到：
\newgeometry{

[2015-12-03 14:13] LiVincent-Zhang commented on #174
这个页边距问题我查了一下，根据研究生手册中的格式要求，上下左右的页边距各为25mm。template里面的设置应该是错了。

原始邮件
发件人:Howardnotifications@github.com
收件人:BHOSC/BUAAthesisBUAAthesis@noreply.github.com
抄送:Livinglivincentzhang@gmail.com
发送时间:2015年12月3日(周四) 22:07
主题:Re: [BUAAthesis] 章标题后首段没有段首缩进 (#174)

sample中两个问题均出现了。
 一个是第四章章标题后的文字。

 第二个是第四章的内容4.7.2

关于第一个问题，我查了一下，应该用
 \usepackage{indentfirst}
 解决，不知道是否有副作用。
 关于第二个问题，我参考一下173的解决方案看看能不能行。
还有一个问

[2015-12-04 04:08] LiVincent-Zhang commented on #174
@huxuan 好的，我知道了。已经把多余的信息删掉了。

[2015-12-04 06:10] huxuan commented on #174
@nilday 下图是我本地编译出来的结果，建议你先更新一下软件和宏包，因为模板是基于ctex的，所以感觉这个中文 specific 的问题应该已经解决了。

![image](https://cloud.githubusercontent.com/assets/726061/11582922/f29ec926-9a8e-11e5-9725-d87e0511a61a.png)

关于列表的，怎么说，我还是觉得不算是bug，而是在使用itemize的时候需要设置一些参数而已，因为列表的层次会不一样，感觉如果在模板里直接hard code的话，还是会有不适用的情况，可以参见 #173 里的设置。

P.S. 所有对模板的修改都强烈建议不要直接修改cls，而是保证cls和这里维护的版本一样以免让问题复杂化。想添加`indentfirst`宏包或者`setlist`的修改都可以放在`sample-

[2015-12-05 08:06] hengshanji commented on #174
章标题上面的空白距离太大，在哪改啊？

[2015-12-05 08:35] hengshanji opened #176 "章节上下的间距如何调整"
是修改 beforeskip 和 afterskip 吗？我试了一下觉得应该是，但是beforeskip= -0.5\baselineskip  间距还是太大，能不能太小一点，我改成-0.8\baselineskip 好像不起作用，-1\baselineskip也是没有效果。

[2015-12-07 05:19] huxuan commented on #176
LaTeX的章节间距是有一套自己的计算公式算出来的，所以强烈不建议用word的思维来思考LaTeX的排版。如果一定要修改间距的话，我知道的方式有两种，一种方式是参见这个链接里的说明 [1]，另一种方式是在希望修改的地方用\vspace{-1em}之类的命令，如果有其他的好办法欢迎补充。

[1] http://tex.stackexchange.com/questions/101116/how-to-reduce-the-space-before-after-section-and-subsection

P.S. 不同的问题最好新开issue，在 #174 下面那无关的评论我已经删了。

[2015-12-11 18:42] huxuan commented on #169
Fixed by commit 8d56eedeaa754cb7b4a717d23ad2fb80689a2f8a.

[2015-12-11 18:42] #169 closed

[2015-12-20 09:07] JosephPeng commented on #173
Hi, @ericuni @huxuan
最近一直在忙着搬砖，未及时登录查看消息，十分抱歉～
对于@ericuni 在#issue-119295118 提到的图 imgbox.com/4YJKY9Gl , 个人觉得更像是paragraph, 而不是一个item, 作为enumerate或itemize, 换行后与正文左侧对齐的话, (个人感觉)与其作为"条目"是有些不符. 即若能够直接以paragraph来实现, 为何仍需要(强行)作为enumerate或itemize来实现呢?

[2015-12-20 09:22] JosephPeng commented on #170
Hi, @LiVincent-Zhang @huxuan
目测是Sugfig这个包的问题, 我也无法提供更多的支持. 因为subfigure是在figure环境中的, 所以子图太多的话, 整个figure就会很长或很大, 超出页面大小, LaTeX无法对一个figure进行分割, 所以导致@LVincent-Zhang 所提的问题.
另外, 如果需要很的图需要用到subfigure的话, 建议将若干(比如4~6个左右)个子图放在一个figure里, 以供LaTeX正确浮动figure环境, 或者调整各个子图的大小, 使所有子图能够在一个page中放下(这样的话, 电子版的论文可以通过放大页面来查看图片细节, 但打印版估计就看不到太多的子图的细节了).

[2015-12-20 09:31] JosephPeng commented on #170
Hi, @LiVincent-Zhang
若没有问题的话, 我先关闭这个issue, 若有问题请再提交issue或comment, 多谢~

[2015-12-20 09:31] #170 closed

[2015-12-20 09:37] JosephPeng commented on #168
Hi, @Klusting
As there is no more response, I takes it as a "Fixed" and close this issue. If there are more infomations or questions, feel free to tell us.

[2015-12-20 09:37] #168 closed

[2015-12-20 09:38] #158 closed

[2015-12-20 09:40] JosephPeng commented on #101
@huxuan 坑早晚都是要填的....

[2015-12-20 09:46] JosephPeng commented on #174
Hi, @LiVincent-Zhang
多谢积极提交issue, 关于本问题#174 , 请更新宏包后再确认一下是否"章标题后首段没有段首缩进"? 若是由宏包或环境引起的issue, 而不是BUAAthesis模板引起的, 此issue将作为invalid而close. 多谢~

[2015-12-20 15:43] LiVincent-Zhang commented on #170
谢谢。我整体缩小了图片，一页就能放下。

[2015-12-24 12:07] ericuni commented on #173
Hi, @JosephPeng
虽然使用paragraph 可以实现同样的效果， 但是列表中的编号数字需要手动指定，也就是会成为硬编码。

[2015-12-26 12:06] JosephPeng commented on #173
Hi, @ericuni
嗯，这样的话是硬编码，但对于使用者来说应该是更容易理解，也更快速的撰写论文。

对于这个PR，我个人也不置可否，或者，能否考虑新建一个环境，使其能够达到这个PR的效果，但也不覆盖原先的代码呢？

[2016-03-05 15:02] heatinsjtu opened #178 "请问您的模版里面为什么不能加下标，我google了一下有人问了这个问题"
但是我按照他的说法却行不通

[2016-03-05 15:03] LiVincent-Zhang commented on #178
@heatinsjtu 你指什么下标？

[2016-03-05 15:05] heatinsjtu commented on #178
指的是公式里面的下标
这个链接里也提问了http://bbs.ctex.org/forum.php?mod=viewthread&tid=68132

[2016-03-05 15:07] LiVincent-Zhang commented on #178
@heatinsjtu 能不能把你不显示下标的那段公式给贴上来。我用这个模板写的毕业论文，一切都没有问题

[2016-03-05 15:24] heatinsjtu commented on #178
可能我用的是之前的版本，我新下载了这个用luatex和luaLatex可以编译通过，怎样生成pdf?

[2016-03-05 15:25] LiVincent-Zhang commented on #178
@heatinsjtu make master

[2016-03-05 15:34] heatinsjtu commented on #178
这是linux下的命令？我在win下可以用吗？

[2016-03-05 16:10] heatinsjtu commented on #178
问题解决了，用msmake，谢谢！

[2016-03-05 16:12] LiVincent-Zhang commented on #178
@heatinsjtu close吧

[2016-03-05 16:21] heatinsjtu commented on #178
OK

[2016-03-05 16:21] #178 closed

[2016-03-06 00:23] daibluewater opened #179 "提示缺少hypernat.sty文件，但网上说这个文件功能和natbib已经合并了"
如题，因为功能合并，所以hypernat在CTAN中被去掉了，正常更新package就没有这个sty了。于是我在cls中把
\RequirePackage{hypernat}
注释掉了

似乎也没问题。还没开始大规模使用， 不知道是不是真的没问题

说合并了的地方：
http://bbs.ctex.org/forum.php?mod=viewthread&tid=56735

[2016-03-06 13:43] JosephPeng commented on #179
目测可以注释之，但我个人未验证。
根据链接给出的内容理解，可以直接注释(或删除)这个 `\RequirePackage{hypernat}`，但不排除有些用户使用版本过低或未更新package，建议master分支暂时保留。个人使用时可注释之。

[2016-03-16 11:05] daibluewater commented on #179
好的，谢谢

[2016-03-16 11:06] #179 closed

[2016-03-16 11:09] JosephPeng commented on #179
@daibluewater
Thanks for your feedback, please let us know should you have any further questions about this cls.

[2016-03-16 15:59] daibluewater commented on #115
KagamiChan提供的那个bst编译是没有问题的，而且写的整齐一些。这里提供的bst编译以后提示说好多函数找不到。

[2016-04-30 07:11] lewisKit opened #180 "模板左右留白距离不一致"
生成的论文pdf的留白部分貌似左边的比右边的略宽一些。

不知道毕设会不会有影响，以及如何在cls里面进行调整？

[2016-04-30 08:03] lewisKit commented on #180
看到了可以调整留白的距离，想问一下的是这个左右留白不一致时毕设的要求么？

[2016-04-30 12:47] JosephPeng commented on #180
@lewisKit
按[北航研究生院](http://graduate.buaa.edu.cn/ch/xuewei/index.jhtml)的[学位论文撰写规定](http://graduate.buaa.edu.cn/ch/u/cms/www/201510/29142644o5oi.doc)，其要求为“学位论文的上边距：25mm；下边距：25mm；左边距：25mm；右边距：25mm；”，因为考虑到论文为双面打印(当然可以设置为单面打印)，所以本模板对于页面左右的边距进行了相应的适当调整，以便适应打印装订的论文更"美观"。
我个人觉得，若是双面打印，页面左右留白空间有差别才是比较合理的。若对此有不明白之处，建议问一下学院教务的相关老师。或者，提交电子版的论文为左右间距一致，打印时的论文左右间距适当调整。

[2016-04-30 16:02] lewisKit commented on #180
谢谢～

[2016-05-01 13:03] JosephPeng commented on #180
It seems this issue has been solved, please feel free to raise an issue if there are some other problems about this cls.

[2016-05-01 13:03] #180 closed

[2016-05-01 13:08] JosephPeng commented on #174
Since there is no more response from the reporter, this issue might seems be solved.

[2016-05-01 13:08] #174 closed

[2016-05-05 15:17] lewisKit commented on #180
如果是为了双面打印，那么奇数页和偶数页的左右间距应该是不一样的。比如奇数页应该是左边距30mm, 右边距20mm，那么偶数页应该就是左边距20mm，右边距30mm。我看我北大研究生师兄论文模板貌似就是奇数页和偶数页是轮换来的。不知道我说的对不对？

[2016-05-05 15:20] JosephPeng commented on #180
Hi, @lewisKit
是这样的，而且如果你使用目前的repo里的模板编译过的话，也会看到双面打印时左右边距会跟随奇偶页而变化。

[2016-05-05 15:29] lewisKit commented on #180
您好，我编译成功了，但奇偶页的边距是一样的。

系统是Mac，用的是MacTex，用的是sublime Text2的latex插件环境下的，存在warning，如下：

TraditionalBuilder: Engine: xelatex. Invoking latexmk... done.

No errors. Warnings:

./sample-bachelor.tex: Package hyperref Warning: Rerun to get /PageLabels entry.
./sample-bachelor.tex:16: LaTeX Font Warning: Font shape `U/rsfs/m/n' in size <10.53937> not available(Font)              size <10.95> substituted o

[2016-05-05 15:45] JosephPeng commented on #180
Hi @lewisKit
不清楚是否是你的设置的问题或是其他问题，建议你先将本repo重新下载后用xelatex编译一遍看一下。

[2016-05-05 15:47] lewisKit commented on #180
就是刚下的repo重新用xelatex编译的。

[2016-05-05 15:50] lewisKit commented on #180
@JosephPeng
我还主要存在一些字体问题，我把这些warning解决了再试一下。谢谢

[2016-05-17 09:29] mainking2003 opened #181 "eps格式图片字体变粗"
用Matlab得到fig格式的图片，并直接转存为eps格式。在使用模版中的多图并排排列时，左图正常，右图的字体和坐标数字总是自动加粗，变得很难看。尝试了将同一张图并排，依然左图正常，右图字体加粗。使用\includegraphics或overpic宏包加载图片，均有此问题。软件环境为CTeX 2.9.2.164+Windows XP。

\begin{figure}[h!] % [h!] 表示尽量排在当前位置
    \begin{minipage}{.5\textwidth} % .5\textwidth 表示正文宽度的一半
        \centering
        \begin{overpic}[width=220bp,tics=5]{figure/PMI_fault-free-height.eps}
        \put(45,0){\footnotesize{图片序

[2016-05-17 13:22] huxuan commented on #181
感觉应该是caption的字体被应用到了第二个图片中，可以试试在includegraphics前加一个`\normalfont` 试试？

[2016-05-18 00:46] mainking2003 commented on #181
试了一下，\normalfont好像对eps图片没有作用。

[2016-05-18 06:20] huxuan commented on #181
稍微Google了一下感觉有可能是matlab到处时候的问题，建议关键字`Matlab eps text bold font`

[2016-05-19 01:19] mainking2003 commented on #181
@huxuan 谢谢你的建议。 我试着从matlab那端修改设置，依然没有作用。另外，我上传的pdf附件中，图9和10其实是同一张图，是从visio转pdf再转eps得到的，能看出同样存在自动加粗的现象。所以，我感觉是加载图片过程中出现了问题。
现在我把图片都转为jpg格式，回避了这个问题，图片在文中显示正常了，算是一种解决办法吧。

[2016-05-19 06:00] huxuan commented on #181
嗯，用graphicx的话可以直接用png或者jpg的。那这个issue我就暂时关掉了。

[2016-05-19 06:00] #181 closed

[2016-10-14 07:32] huxuan commented on #176
Close as no update from reporter. Feel free to reopen it if there is any further problem.

[2016-10-14 07:32] #176 closed

[2016-10-14 07:33] huxuan commented on #129
Close as problem solved.

[2016-10-14 07:33] #129 closed

[2016-10-14 08:56] sighingnow commented on #173
This issue can be avoid by using `enumerate` environment with `[wide]` option. I have also mentioned how to create list like this here 1aa7806. The result is similar to paragraphs and users don't need to hard code the sequence numbers (exactly what @ericuni desired).

It looks like as follows:

![fix-list-indentation](https://cloud.githubusercontent.com/assets/7144772/19381457/398178b0-922e-11e6-9

[2016-10-14 08:56] #173 closed

[2016-10-28 06:47] xiaozhaolook opened #184 "I got the Error like that "Undefined control sequence. \setmainfont""
when I tried to compile the tex file in both winEdt and TexStudio, I got the following Errors, How can I solve it ?
the Errors List
line 1: Missing \begin{document}. �
line 51: Undefined control sequence. \setmainfont
line 51: Missing \begin{document}. \setmainfont{T
line 55: Undefined control sequence. \setCJKmainfont
line 55: Undefined control sequence. \setCJKmainfont{�
line 55: Undefined contr

[2016-10-30 04:54] huxuan commented on #184
Please ensure you are using the latest version, both for TeX system and the BUAAthesis template.

[2016-10-30 05:21] xiaozhaolook commented on #184
Yes, I am using the latest version both CTEX and TexLive and have tried the latest template

发自我的 iPad

[2016-10-30 05:21] sighingnow commented on #184
@xiaozhaolook Maybe you have built this template using pdflatex so that you got such error messages. Our template is only tested with xelatex. You can set xelatex as default compiler in TexStudio.

[2016-10-31 03:05] sighingnow commented on #184
Close as problem solved.

[2016-10-31 03:05] #184 closed

[2016-11-12 12:22] romise opened #185 "字体以及超链接问题"
在ubuntu16.04环境下，出现两个字体(time new man, stxingkai)不存在错误(本科毕设)，希望可以给予说明。同时，想问一下，目录的超链接为什么不设置为黑色呢？

[2016-11-13 07:05] huxuan commented on #185
这两个字体是windows下面的字体，是学校模板的要求，既然已经用了Ubuntu，相信你应该知道怎么解决这个字体问题（Otherwise, please ask Google）。

默认是为了电子版方便阅读（实际黑白打印的时候影响也不大），而且这个只是一个设置而已，只要把文档的第一行`\documentclass[master,openright,twoside,color]{buaathesis}`中的`color`选项去掉就可以了。（文档第五章 [1] 有说明）

Please feel free to update if there is any further questions.

[1] https://github.com/BHOSC/BUAAthesis/blob/8d56eedeaa754cb7b4a717d23ad2fb80689a2f8a/data/chapter5-

[2016-11-13 09:44] romise commented on #185
这个问题我已经解决了，但是仍然希望可以标注一下。

2016-11-13 15:05 GMT+08:00 Xuan Hu (Sean) <notifications@github.com>:

[2016-11-13 11:35] huxuan commented on #185
Feel free to contribute with pull request. Close as problem resolved.

[2016-11-13 11:35] #185 closed

[2016-11-15 08:10] sighingnow commented on #76
Close as solved.

[2016-11-15 08:10] #76 closed

[2016-11-15 17:27] huxuan commented on #175
Suddenly notice this issue. I think we can close this now, right? @sighingnow :-)

[2016-11-16 01:45] sighingnow commented on #175
I agree.

[2016-12-12 03:18] ipez opened #187 "图和表同正文的间距是不是过大？"
尝试修改cls文件里的这几个参数设置，发现变化不大，求解。

\setlength{\floatsep}{3pt plus 3pt minus 2pt}      % 图形之间或图形与正文之间的距离
\setlength{\abovecaptionskip}{10pt plus 1pt minus 1pt} % 图形中的图与标题之间的距离
\setlength{\belowcaptionskip}{3pt plus 1pt minus 2pt} % 表格中的表与标题之间的距离

另外，三线表格上下线应为粗实线，查了一下需要package{booktabs}，建议添加。

[2016-12-12 17:04] sighingnow commented on #187
I have fixed this in #188 and add documentation for how to use it. Thanks very much for your suggestions.

Adjusting the value of `\intextsep` will affect the margin between figures or tables between common text. For example:

[code]

Place the above code in your preamble and your will find some clear differences. Some discussion here may be helpful: http://tex.stackexchange.com/questions/26521/ho

[2016-12-13 01:51] huxuan commented on #187
@sighingnow Looks good to me. I prefer to leave this setting as user specified.

[2016-12-15 04:49] ipez commented on #187
@sighingnow @huxuan  For master theise, it should be single-side printed when the total number of pages is below 100. How can I cancel these empty double pages in the end of chapter ?

[2016-12-15 14:22] sighingnow commented on #187
In line 2 of `sample-master.tex`, we have

[code]

Modify the argument `twoside` to `oneside` then your document will be single-side printed.

[2016-12-16 02:36] huxuan commented on #187
Close this issue as the problem is already solved and it become somewhat off topic. Please consider creating a new one with clear title/content so that other guys with similar problem can reach the answer easily.

[2016-12-16 02:36] #187 closed

[2016-12-16 06:30] ipez commented on #187
Very good. Thank you.

[2016-12-22 01:57] SpongebBob opened #189 "声明页不带页眉"
任务书限定了行加下划线，要写一整段话非常不方便，替换使用\uline的话，换页就会出现问题。使用\newpage \thispagestyle{empty}太简单粗暴了，只能干掉一页的页眉页脚。如果这一页内容太多自动换页的话，就会在新的一页死而复生

[2016-12-22 03:10] huxuan commented on #189
那种写法确实比较ugly，但是也是为了满足任务书的格式需求折中的办法，应该也只是要人工分行？至少暂时我并不知道什么更elegant的方法。

这个说的还是任务书？我印象中任务书的格式（页数）是固定的，所以当时就这么写了？不过这个倒是可以改的，在开始的地方设置pagestyle为empty，在任务书的最后再把pagestyle设置成原来的就可以了，有兴趣的话可以尝试一下交PR。

[2016-12-22 04:53] sighingnow commented on #189
声明页的页眉已经去除，页码也从下一页开始计算。

这个我再想想办法试试看。

我觉得任务书应当保持两页的篇幅，并且按照毕设论文手册的格式分页。本科毕设手册中，声明页的内容是已经给出了，不会出现分页的问题。

[2016-12-22 06:48] SpongebBob commented on #189
@huxuan  thx，多谢点拨。问题已解决，还有个小问题就是不知如何指定\uline下划线对齐所有行，使用\ulinel就没办法换行。
@sighingnow 我说的不是很明白，不声明页只是页眉的问题。而任务书的部分问题有如下：
1.\ulinel无法自动换行，换\uline可解
2.内容书简单的用\thispagestyle指定了单页的样式，但是如果内容太多自动分页了，下一页会出现页码和页眉。

[2016-12-22 07:57] sighingnow commented on #189
When use `\uline` to underscore long text, you can use `\hfill` to padding current line with spaces. Please see pull request #191 .

[2016-12-22 10:11] CsterKuroi opened #192 "WIN10 WinEdt+CTeX “Sorry, but xelatex.exe did not succeed.”"
Command Line:   xelatex.exe --interaction=errorstopmode --synctex=-1 "sample-bachelor.tex"
Startup Folder: C:\Users\Kuroi\Desktop\charitychain-tex

This is XeTeX, Version 3.14159265-2.6-0.99992 (MiKTeX 2.9)

Sorry, but xelatex.exe did not succeed.

The log file hopefully contains the information to get MiKTeX going again:

  D:/CTEX/UserData/miktex/log/xelatex.log

You may want to visit the MiKTeX

[2016-12-22 10:40] sighingnow commented on #192
Our template is only tested with CTeX 2.9.3, please make sure you are working with this version of CTeX. You can the distribution package here: http://mirrors.ustc.edu.cn/ctex/unstable/ .

[2016-12-22 10:44] CsterKuroi commented on #192
http://mirrors.ustc.edu.cn/ctex/unstable/

[2016-12-22 10:45] CsterKuroi commented on #192
I just downloaded it from here:http://mirrors.ustc.edu.cn/ctex/unstable/

[2016-12-22 10:47] sighingnow commented on #192
It seems that your CTeX version is correct. You also could try to build the sample thesis using our `msmake.bat` script in command line. Make sure that the folder where contains the `xelatex.exe` is in your `PATH` environment variable.

[2016-12-22 10:51] CsterKuroi commented on #192
C:\Users\Kuroi\Desktop\charitychain-tex>xelatex
This is XeTeX, Version 3.14159265-2.6-0.99992 (MiKTeX 2.9)
**

C:\Users\Kuroi\Desktop\charitychain-tex>msmake bachelor
正在编译文件
This is XeTeX, Version 3.14159265-2.6-0.99992 (MiKTeX 2.9)

Sorry, but xelatex did not succeed.

The log file hopefully contains the information to get MiKTeX going again:

  D:/CTEX/UserData/miktex/log/xelatex.log

You may wa

[2016-12-22 11:01] CsterKuroi commented on #192
I'm going to do:
1. Uninstall and reinstall
2. another PC
3. ……

[2016-12-22 11:05] sighingnow commented on #192
@CsterKuroi At line 257 of `buaathesis.cls`, remove this line

[code]

This should be a fix for these issue. I'm trying to figure out what has happened in recent commits.

[2016-12-26 01:50] huxuan commented on #192
Since we have removed `hypernat` package in #194. Update the `BUAAthesis` package to the latest should resolve this problem. Issue closed and feel free to reopen it if there is any further related problem.

[2016-12-26 01:50] #192 closed

[2016-12-26 04:30] SpongebBob opened #195 "任务书中的参考文献的换行问题"
如果使用国标引用英文参考文献。目测只能手动换行？无法自动换行。使\uline加下划线的换行方式目测只对中文生效？

[2016-12-26 07:26] sighingnow commented on #195
As far as I know, put long text in `\uline` environment directly, as the following example:

[code]

The automatic line-break works well.

[2016-12-26 07:35] SpongebBob commented on #195
I just write as this:

`        \uline{\buaa@bachelor@assign@ref@one\hfill} \\
`

![image](https://cloud.githubusercontent.com/assets/11678997/21477845/c16638a2-cb80-11e6-9b29-72adb1b89410.png)

But it shows like that:
![image](https://cloud.githubu
sercontent.com/assets/11678997/21477820/8eda832a-cb80-11e6-80b6-d83064c6c184.png)

[2016-12-26 07:38] sighingnow commented on #195
Yes, the order of macro expanding does matter. Here, `\buaa@bachelor@assign@ref@one\hfill` should be expanded before `\uline`.

I will submit a commit soon to fix this issue. Currently, you could use `\uline` as the example above.

[2016-12-26 07:47] sighingnow commented on #189
Since the pull request #191 is still under review and this problem is not fixed in the HEAD version, we should live this issue open for better issue tracking.

[2016-12-27 02:07] huxuan commented on #195
AFAIK, this is more like a feature than a bug. It's an unsolved problem in previous version and that why we did the trick where there are 8 parameters for `\assignRef`, actually it is for 8 line of contents and needs line break manually. It's great to hear there is some solution now, I will take a further look on this.

[2016-12-28 01:50] huxuan commented on #195
Hi @SpongebBob, thanks for using BUAAthesis and even more appreciate for the issue reports to help us improving it. But as I have clarified in the previous comment and also considering the discussion in #191. Manually line break is ugly implementation in some way but we have no better solution to make it support both automatic line break and same layout compared with the official assignment page s

[2016-12-28 01:50] #195 closed

[2016-12-28 01:53] sighingnow commented on #189
Fixed in #196.

cc @SpongebBob In afraid of you don't get notification. Please update to the latest version of our template.

[2016-12-28 01:53] #189 closed

[2017-01-04 12:30] JosephPeng commented on #175
Hi, @huxuan ,@sighingnow
    Sorry for my absence of the issues you have discussed.
    Thanks for your  works.
    Whenever should I be noticed immediately or not, @huxuan could Wechat or QQ me.

[2017-04-28 05:33] BiggerHao commented on #146
但是我没有subteacher，导师姓名也是不能居中啊 😢

[2017-04-28 05:58] huxuan commented on #146
Please provide more specific information so we can reproduce your problem and offer potential help.

[2017-04-28 06:25] BiggerHao commented on #146
@huxuan 导师姓名往左偏了一点点，不是正好居中的，我用的是本科毕业论文的tex文件生成的pdf

[2017-04-28 06:28] huxuan commented on #146
@BiggerHao Please point out the specific place as there are many places that contain teacher names. It is better to provide a screenshot and related code snippets. The more specific the better.

[2017-04-28 06:33] BiggerHao commented on #146
@huxuan
com_info.tex
![2017-04-28 2 30 15](https://cloud.githubusercontent.com/assets/7645930/25516871/6061fac8-2c1f-11e7-99b9-4965ee9b7871.png)
sample-bachelor.pdf
![2017-04-28 2 30 33](https://cloud.githubusercontent.com/assets/7645930/25516895/79d63032-2c1f-11e7-8a04-7675783627b8.png)

[2017-04-28 09:12] huxuan commented on #146
It seems to be a bug here [1]. Just reopen the issue for tracking.

[1] https://github.com/BHOSC/BUAAthesis/blo/master/buaathesis.cls#L541

[2017-04-28 13:13] huxuan commented on #146
@BiggerHao Can you help me to verify whether the cls file here [1] fix this bug? I do not have TeX environment right now cause I have been graduated for years. :-)

[1] https://github.com/huxuan/BUAAthesis/blob/bachelor-subteacher-bug/buaathesis.cls

[2017-04-29 02:37] BiggerHao commented on #146
@huxuan That fixes the bug. Thanks.

[2017-04-29 03:39] #146 closed

[2017-05-06 08:59] pipili0131 opened #200 "windows平台texlive2016模板编译出错"
下载模板后，在texlive2016下编译，编译器xelatex，结果是没有目录，文中无论是对参考文献还是对章节，公式，图的引用全部出错，显示为“？”，编译时是一个undefined警告，这种情况怎么解决？

[2017-05-06 10:15] sighingnow commented on #200
方便提供下错误信息吗？

[2017-05-06 10:16] huxuan commented on #200
Maybe you need to run the `XeLaTeX` command twice?

[2017-05-06 10:17] sighingnow commented on #200
以及编译步骤？用的是Makefile还是msmake.bat？如果是手动调用xelatex命令，Latex需要三遍才能正确生成完整的索引。@pipili0131

[2017-05-31 05:43] 1820366459 opened #204 "页边距不对"
通过msmake bachelor进行编译，编译后的文档页边距不太符合要求，上面太宽下面太窄。请问是怎么回事？

[2017-05-31 06:39] sighingnow commented on #204
具体哪个页面（比如目录、或者正文）有问题？可否贴个截图？

[2017-05-31 06:49] 1820366459 commented on #204
![qq 20170531144800](https://cloud.githubusercontent.com/assets/11703885/26619258/3767881c-4610-11e7-9165-8e6b38a24f54.png)
除了任务书看起来正常外，其他地方页边距都这样。是编译器的问题吗？

[2017-07-12 04:26] Somedaywilldo opened #206 "求两位主要开发者现在的联系方式，北航16级LaTeX开发者一枚"
16级6系LaTeX开发者，Someday

[2017-07-12 05:16] sighingnow commented on #206
See #175.

[2017-07-13 05:25] sighingnow commented on #206
Close as solved.

[2017-07-13 05:25] #206 closed

[2017-09-12 02:35] hdhqsmile opened #207 "c"
参考文献无法正常显示，均以?出现

[2017-09-12 02:37] sighingnow commented on #207
是使用Makefile或 msmake.bat 编译的吗？

直接编译下载的样例是否存在同样的问题？

[2017-10-04 11:18] xieyi4650 opened #208 "mactex出现找不到字体的错误"
不知道是不是我操作不对，clone之后，运行make master，出现了下面的错误。我之前在Windows和Ubuntu下都编译正确，最近刚换了电脑，不知道是哪里的原因。
fontspec error: "font-not-found" The font "STXingkai" cannot be found. For immediate help type H <return>. \maketitle

[2017-10-04 11:49] sighingnow commented on #208
This error message means that the font "STXingkai" is not installed in your system. You need to install the font manually and try `make master` again. The following two links may help for your problem:

1. https://www.fontyukle.net/en/STXingkai.ttf
2. [How do I install fonts on my Mac?](https://www.fontspring.com/support/installing/how-do-i-install-fonts-on-my-mac)

[2017-10-04 12:10] xieyi4650 commented on #208
@sighingnow
1、非常感谢，error已经解决了，还有一些warning，类似下面的。我在网上找到了关于这个问题的一些解答
https://tex.stackexchange.com/questions/266837/font-kaiti-sc-regular-does-not-contain-script-cjk
似乎这个警告⚠️无关紧要。
*************************************************
* fontspec warning: "script-not-exist"
*
* Font 'STSong' does not contain script 'CJK'.
*************************************************
2、一些字体的默认设置出了一些问题，输出信息提示已经用其他设置替换了

[2017-10-04 12:36] sighingnow commented on #208
Seems that this warning only appears on Mac OS, but I don't have access to a Mac. If pdf file could be generated successfully you could ignore this warning message, IMO.

Someone (not me) has uploaded sample pdf files to BaiduDisk:  http://pan.baidu.com/s/1c0Xtq8o. I hope this will help.

[2017-10-04 12:38] sighingnow commented on #208
Since the problem has been solved, I'm going to close this issue. Feel free to reopen if you have any further question.

[2017-10-04 12:38] #208 closed

[2017-10-17 05:50] pipili0131 commented on #200
@sighingnow    谢谢回复，原来一直用xeletex编译，或来发现，必须用msmake.bat才可以。就是在最后的参考文献还是不对，博士论文的参考文献的输出内容不对。我用清华的版本直接替换bib也不行。不过已经非常感谢你们了。

[2017-10-18 01:31] sighingnow commented on #200
@pipili0131 这个模板仅仅包含本科和硕士的模板。用于博士论文的话，可能不少地方都需要自己调整。

[2017-10-18 01:31] #200 closed

[2017-11-07 02:21] xieyi4650 commented on #207
@hdhqsmile  要编译四次，具体指令看Makefile或者msmake.bat

[2017-11-07 02:34] xieyi4650 opened #209 "参考文献必须全部引用么？"
文件：
data/reference.tex:

line 5:
\nocite{*}

不需要将文献库中所有的文献都列出，应该如何操作？
mac os，mactex 2017

试过将这一行改为下面几种形式，还是出错。
\nocite{}
%\nocite{}
但是将通配符*换成某个具体文献的话，就不会出错。

所以想问，\nocite是必须要存在的么？那是不是要为毕设单独建立一个.bib文件

以下是出现的错误：
) [9] (./data/reference.tex [10] (./my-master.bbl

Package natbib Warning: Empty `thebibliography' environment on input line 8.

) [11] [12]) (./data/master/back1-achievement.tex

! LaTeX E

[2017-11-07 04:54] sighingnow commented on #209
直接把 `data/reference.tex` 中的 `nocite{*}` 那一行去掉就行。

错误信息应该与这个无关。

[2017-11-07 04:57] sighingnow commented on #207
Closing as lacking of further response.

[2017-11-07 04:57] #207 closed

[2017-11-07 07:31] xieyi4650 commented on #209
@sighingnow 直接去掉\novite{*}之后就会报这个错，但是报错位置不在Reference，是紧跟在Reference后面的那个文件。你那里能复现错误么？不能复现的话就是我电脑环境的问题。

[2017-11-07 07:47] xieyi4650 commented on #209
@sighingnow 找到原因了。是这样，我想搭毕设论文框架，就把正文部分的tex里的内容都删掉了，所以一个\upcite{}都没有，这个时候如果去掉\nocite{*}编译会出错。如果文中有至少一个引用，就不会报错。抱歉，麻烦你了。

[2017-11-07 09:01] sighingnow commented on #209
嗯嗯好的，问题解决了就好~

[2017-11-07 09:01] #209 closed

[2017-12-27 03:00] nrm1 opened #210 "chapter与页眉之间的行距不一致"
您好,在使用BUAA-master模板的时候,我编译的结果是,在正文部分,第一个chapter与页眉之间的行距为0,之后的chapter与页眉之间都是有行距的.我的编译环境是ubuntu16.04,xelatex.请问这个问题怎么解决?

[2017-12-27 07:32] sighingnow commented on #210
直接编译sample-master（命令：`make master`）也有同样的问题吗？

[2017-12-27 07:50] nrm1 commented on #210
那个问题我没有找到解决方法,现在我换了一种思路,使用BUAA-bachelor并在它的基础上进行一些修改最后达到了我想要的效果,谢谢.

[2017-12-27 07:50] #210 closed

[2018-01-04 08:14] BiAiD opened #211 "同一页面出现两张连续的图片的时候，第二张图片中的文字会被加粗"
发现一个bug，就是在同一页面出现两张连续的图片的时候，第二张图片中的文字会被加粗。图片是eps格式的，如果图片不连续出现（比如这两个图片中间有正文的时候）则不会出现这个情况。
或者把下面这行.cls文件里面的代码中的\bf删除，也可以解决，但是图表标题的加粗效果就没了。
`\DeclareCaptionFormat{figure}{\bf\songti\zihao{5}{#1\textrm{#2}#3}}`

[2018-01-04 08:25] BiAiD commented on #211
我看了一眼之前的已关闭的issue#181，也发现了这个问题，把eps文件换成png或jpg是一种方案，但是并没有真正解决呢。

[2018-01-04 09:33] sighingnow commented on #211
能够提供你使用的EPS图片？

[2018-01-04 09:34] sighingnow commented on #211
以及出问题的LaTeX？

[2018-01-04 11:29] BiAiD commented on #211
已上传，请查收
[https://github.com/BiAiD/FileShare.git](url)

[2018-01-04 11:31] BiAiD commented on #211
[https://github.com/BiAiD/FileShare](url)

[2018-01-11 07:44] BiAiD commented on #211
？？？

[2018-01-11 07:59] sighingnow commented on #211
我在Windows 10上一直没办法复现，不知道是不是缺粗体字体。

![image](https://user-images.githubusercontent.com/7144772/34814344-3dc19ad4-f6e8-11e7-8113-e160e85dd7d8.png)

[2018-01-11 08:47] sighingnow commented on #211
你的LaTeX的环境和版本是？@BiAiD

[2018-01-11 08:52] BiAiD commented on #211
我也是在Windows 10，用的texlive2016

[2018-01-11 08:53] BiAiD commented on #211
你这个图的标题没有加粗

[2018-01-11 08:55] sighingnow commented on #211
嗯，是的，所以我应该缺字体

[2018-01-11 09:16] sighingnow commented on #211
你编译的是master还是bachelor？

[2018-01-11 09:17] BiAiD commented on #211
是master

[2018-01-11 11:21] sighingnow commented on #211
我修复了字体的问题，但依然不能复现。

这个EPS图片是怎么来的啊？PS导出的还是Visio导出的啊？

![image](https://user-images.githubusercontent.com/7144772/34823187-7f51e99c-f704-11e7-8d64-8134097a0c36.png)

[2018-01-11 11:24] BiAiD commented on #211
是Visio另存为pdf，然后用Adobe Acrobat导出成eps的
你这个图题加粗后字体变成黑体了？不应该是宋体么？

[2018-01-11 11:26] sighingnow commented on #211
我也纳闷呢...

[2018-01-11 11:27] BiAiD commented on #211
我这边是宋体加粗了，不过就是连图片里的文字一块给加粗了。。

[2018-01-18 17:29] xieyi4650 opened #212 "提交查重时会显示PDF乱码"
win7 64位上的texlive2017
生成的PDF看起来一切正常，但是不知道为什么在淘宝上查重的时候提示乱码。。。需要怎么修改或者设置么

[2018-01-19 08:52] #212 closed

[2018-01-19 12:41] sighingnow commented on #212
提交查重前可以考虑把PDF转换成Word，readme里有提到相关的工具。

/cc @xieyi4650

[2018-01-19 12:48] xieyi4650 commented on #212
@sighingnow 谢谢，

[2018-01-20 17:13] xieyi4650 opened #213 "如何引用"
想问一下，论文里怎么引用这个repo？
可以这样做么？

[2018-01-21 06:00] sighingnow commented on #213
我觉得不用吧，毕竟是否使用这个repo无关学术内容。

如果你觉得必要的话，可以在致谢里提下 :)

[2018-01-23 14:02] BiAiD commented on #211
请问如果要开通四级标题该如何修改.cls文件？我试了添加下面这些代码，然而没有效果。
`\CTEXsetup[
    format={\zihao{-4}\bfseries},
    aftername={\quad},
    beforeskip={.5\baselineskip},
    afterskip={.5\baselineskip},
]{subsubsection}`

[2018-01-24 12:34] BiAiD commented on #211
四级标题的编号问题已经解决了~

[2018-02-05 08:01] sighingnow commented on #213
Close as solved.

[2018-02-05 08:01] #213 closed

[2018-03-13 09:06] JuilyLian opened #215 "控制博士论文封面上华文行楷命令无效"
在buaathesis中挖掘博士论文封面上 “博士学位论文”六个字的华文行楷命令无效。已确定mac上有装该字体。

[2018-03-15 06:24] huangteng1220 opened #216 "这个latex版本能在Mac上运行么？"
我安装了“TeXLive 2016（推荐）”，能够顺利在Mac编辑中文的latex，但是这个版本还是没法运行。提示错误是undefined control sequence。有哪位高手可以指点一下怎么在Mac上运行使用。谢谢

[2018-03-15 06:26] huangteng1220 commented on #215
请问在Mac怎样运行？能否指点一下。

[2018-03-15 06:28] JuilyLian commented on #215
我是用的texMaker。

然后用XeLatex去build。
On Mar 15, 2018, at 2:26 PM, huangteng1220 <notifications@github.com<mailto:notifications@github.com>> wrote:

请问在Mac怎样运行？能否指点一下。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/BHOSC/BUAAthesis/issues/215#issuecomment-373273723>, or mute the thread<https://github.com/notifications/unsubs

[2018-03-15 06:44] huangteng1220 commented on #215
好的，谢谢！能够运行了，但是封面是硕士的论文，有博士模版么？

[2018-03-15 06:46] JuilyLian commented on #215
原来是同道中人。互勉。

将main文件中的第一行，改为

\documentclass[doctor,openright,twoside,color]{buaathesis}即可。

On Mar 15, 2018, at 2:44 PM, huangteng1220 <notifications@github.com<mailto:notifications@github.com>> wrote:

好的，谢谢！能够运行了，但是封面是硕士的论文，有博士模版么？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/BHOSC/BUAAthesis/issues/215#issuecommen

[2018-03-15 06:50] huangteng1220 commented on #215
OK，非常感谢！！雪中送碳啊！～～～对了，我这的“博士学位论文”六个字的华文行楷好像显示挺正常的

[2018-03-15 06:53] JuilyLian commented on #215
你做了什么？为什么可以正常显示华文行楷？我换了个windows运行还是不行呢。求助呀。

不过我想到一个方法，若实在不行，我就求你帮忙在你机器上帮我编辑生成打印版了。😄

On Mar 15, 2018, at 2:50 PM, huangteng1220 <notifications@github.com<mailto:notifications@github.com>> wrote:

OK，非常感谢！！雪中送碳啊！～～～对了，我这的“博士学位论文”六个字的华文行楷好像显示挺正常的

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/BHOSC/BUAAthesis/issues/215#

[2018-03-15 06:56] huangteng1220 commented on #215
没问题的。你可以检查一下你的Mac字体册，有没有安装相关的字体。

[2018-03-15 06:57] huangteng1220 commented on #215
这个字体册在Mac的应用程序里面

[2018-03-15 06:58] JuilyLian commented on #215
检查过了，是有这个字体的。不过，我也觉得是这里的问题。回头再好好查查它吧。

你至少让我知道，大神的模板是没有问题的。多谢！

On Mar 15, 2018, at 2:56 PM, huangteng1220 <notifications@github.com<mailto:notifications@github.com>> wrote:

没问题的。你可以检查一下你的Mac字体册，有没有安装相关的字体。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/BHOSC/BUAAthesis/issues/215#issuecomment-373279653>, or mute the t

[2018-03-15 08:48] huangteng1220 commented on #215
那个目录和插图目录的字体为啥都是红色呢？你那怎么修改为黑色？

[2018-03-15 08:50] huangteng1220 commented on #215
打印出来的时候，有没有感觉字体颜色不对劲？

[2018-03-15 08:51] JuilyLian commented on #215
是吗？我还真没打印过目录页。不对劲吗？

On Mar 15, 2018, at 4:50 PM, huangteng1220 <notifications@github.com<mailto:notifications@github.com>> wrote:

打印出来的时候，有没有感觉字体颜色不对劲？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/BHOSC/BUAAthesis/issues/215#issuecomment-373303323>, or mute the thread<https://github.com/notifications/unsubscribe-aut

[2018-03-15 08:53] huangteng1220 commented on #215
和旁边黑色字体有点不一样，你可以试一试。稍微注意的导师，估计会看出来的

[2018-03-15 08:55] JuilyLian commented on #215
多谢告知。呆会儿看看。

On Mar 15, 2018, at 4:53 PM, huangteng1220 <notifications@github.com<mailto:notifications@github.com>> wrote:

和旁边黑色字体有点不一样，你可以试一试。稍微注意的导师，估计会看出来的

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/BHOSC/BUAAthesis/issues/215#issuecomment-373303960>, or mute the thread<https://github.com/notifications/unsubscri

[2018-04-04 09:31] cgsdfc opened #217 "做个冯如杯模板如何？"
我是一名北航学子。恰逢到了冯如杯学院打回修改再提交的时候。往年这个时候学院都会花费大量的进行格式审查和修改，而且我系冯如杯参加人数相当可观——使用ＬａＴｅＸ模板无疑会**极大的**减轻同学们的负担。　冯如杯的科技论文有完整的格式规范文件，覆盖了大部分情况；创业比赛要写策划书，虽然没有官方格式规定但是可以基于科技比赛的模板，而且策划书里面需要大量的图表绘制，如果能定义一些基于``ｔｉｋｚ/pgf``的宏是极好的。至于创业竞赛，可以视为简化版的科技竞赛。目前在ｇｏｏｇｌｅ上搜索 _冯如杯 latex 模板_ 只有一位[我航同学](https://github.com/Somedaywilldo/Someday-XeLaTex-Template) 做出来了，应该是可以用的，但是作为一个模板还有更多可以做的事情。

[2018-04-04 09:38] sighingnow commented on #217
欢迎 pr 😄

如果模板内容合适的话，我觉得我们可以在 BHOSC 这个organization下建一个新的repo也可以。

[2018-04-04 09:41] sighingnow commented on #216
可以的。至少在Windows上TexLive 2016是可以的，这个应该与运行的系统环境无关。

我没有Mac的环境，具体的话，你安装的是TexLive的哪个版本？可否尝试使用：https://mirrors.tuna.tsinghua.edu.cn/CTAN/systems/texlive/Images/

[2018-04-04 09:44] sighingnow commented on #215
考虑打印的话，在模板中把`documentclass`的`color`选项去掉就行，代码位置：https://github.com/BHOSC/BUAAthesis/blob/master/sample-master.tex#L2

参考 https://github.com/BHOSC/BUAAthesis/pull/205

/cc @JuilyLian @huangteng1220

[2018-04-04 09:45] sighingnow commented on #215
目前模板仅仅包括本科毕设和研究生毕设，不包括博士论文模板。

/cc @JuilyLian

[2018-04-04 09:47] sighingnow commented on #215
Mac相关的问题我在 #216 下回复了，应该照着`Makefile`中的内容，使用 `xelatex` 命令就可以。

[2018-04-04 10:00] huangteng1220 commented on #216
@sighingnow 谢谢，可以运行了。里面的博士模版只是修改封面而已么？还有封面写上副导师的时候，没有显示出来

[2018-04-04 10:55] JuilyLian commented on #215
天呀，你是说当前的模板不适用于博士论文？可是我看到有doctor选项。
如果不支持，我就惨了

发件人: Tao He [mailto:notifications@github.com]
发送时间: 2018年4月4日 17:46
收件人: BHOSC/BUAAthesis <BUAAthesis@noreply.github.com>
抄送: JuilyLian <lxl_tuizi@hotmail.com>; Mention <mention@noreply.github.com>
主题: Re: [BHOSC/BUAAthesis] 控制博士论文封面上华文行楷命令无效 (#215)

目前模板仅仅包括本科毕设和研究生毕设，不包括博士论文模板。

/cc @JuilyLian<https://github.com/JuilyLian>

—
You are receiving this

[2018-04-04 11:10] JuilyLian commented on #215
刚刚查阅了一下学校的论文标准，硕士和博士学位论文共用一套标准，只是在某些地方略有差异。但是封面页的华文行楷是都要的。

发件人: Tao He [mailto:notifications@github.com]
发送时间: 2018年4月4日 17:46
收件人: BHOSC/BUAAthesis <BUAAthesis@noreply.github.com>
抄送: JuilyLian <lxl_tuizi@hotmail.com>; Mention <mention@noreply.github.com>
主题: Re: [BHOSC/BUAAthesis] 控制博士论文封面上华文行楷命令无效 (#215)

目前模板仅仅包括本科毕设和研究生毕设，不包括博士论文模板。

/cc @JuilyLian<https://github.com/JuilyLian>

—
You are re

[2018-04-04 11:10] sighingnow commented on #216
这个issue先关了，博士模板相关讨论转到 #215 下面。

[2018-04-04 11:10] #216 closed

[2018-04-04 11:15] sighingnow commented on #215
噢噢这样啊，目前的模板中，对博士论文只区分了标题，其他地方未区分。细节上可能有差异，如果使用时遇到的话欢迎反馈 😄

标题的华文行楷的字体的问题，我明天在Windows上试一下然后答复你。Mac上字体的安装可以和 @huangteng1220  交流下 😃

/cc @huangteng1220

[2018-04-04 11:58] sighingnow commented on #215
cls文件中，在 https://github.com/BHOSC/BUAAthesis/blob/master/buaathesis.cls#L572 处已经将这几个字的字体设置为 hwxingkai 即 STXingkai 了，这种方式肯定是可以生效的，我试了下我本地（windows）编译出来的硕士论文的标题字体是正确的，在你那里出问题可能是环境的原因了。

`\setCJKfamilyfont`和`\CJKfamily`相关的一些用法参考 https://www.jianshu.com/p/b1751078e28e

最初没有采用直接`setCJKmainfont`的方式，应该也是处于某些兼容性考虑的workaround。

[2018-04-04 11:59] sighingnow commented on #215
Close as solved.

[2018-04-04 11:59] #215 closed

[2018-04-04 15:40] cgsdfc commented on #217
开新ｒｅｐｏ不错。而且近期主要在忙毕设的事情，空闲的时候会考虑。我是ＬａＴｅＸ的新手，请多多指教！

[2018-04-04 15:42] cgsdfc commented on #217
我把评论改了改，显得更像一个ｉｓｓｕｅ。要是真的有人接这个ｉｓｓｕｅ当然可以修改评论。

[2018-04-05 02:21] songjinghe opened #218 "建议Release一个版本（附上编译好的PDF样例）"
RT，建议修复完最近这波bug就Release一个版本吧，而且 **一定要把编译好的【本硕博】三个PDF文件一起发布出来**  （release的时候支持上传附件）。我感觉可能很多人想提前下载看看PDF的效果，而目前必须把源码下载下来自己编译（这个对于新手十分的不友好）

而且关于release的问题，从2012年一直讨论到现在，6年了，也讨论过很多次了。#53 #101

[2018-04-05 03:35] cgsdfc commented on #217
问一下，如果格式要求里面明确提到“华文中宋”“华文新魏”这些具体的字体，是否需要指定字体文件``STZhongsong,华文中宋:style=Regular``；还是说笼统使用``\songti`` ``\xinwei`` ?

[2018-04-05 04:08] cgsdfc commented on #217
已解决

[2018-04-06 00:47] songjinghe commented on #211
@BiAiD @sighingnow please show your code which can produce the error, also the material (*.eps) files, then we may dig into the problem

[2018-04-06 00:57] songjinghe commented on #211
@BiAiD I can not replay your error. Although I got the caption shown with font SongTi (Bold). I'm using Ubuntu Mate 14.04, texlive 2017.
![screenshot-1](https://user-images.githubusercontent.com/3754416/38398708-2529b9d4-3978-11e8-9337-2ddca39bdf66.png)

[2018-04-06 08:09] sighingnow commented on #211
@songjinghe The example provided by @BiAiD is at https://github.com/BiAiD/FileShare

See comments https://github.com/BHOSC/BUAAthesis/issues/211#issuecomment-355260048

I also can't reproduce this bug. Thanks for your attention and effort on this ticket.

[2018-04-06 08:29] sighingnow commented on #218
感谢建议，我想等 #211 ，#204 处理了之后发吧。邻近毕业季，估计也会有一些新的问题提出来。

预览的话，我先弄一个pre-release吧，传一下编译好的本硕博的PDF，方便大家预览。

[2018-04-07 13:41] cgsdfc opened #220 "两行一模一样的代码"
https://github.com/BHOSC/BUAAthesis/blob/a3e5d445c6d9a2555a757715da76dcd0e0511bc2/buaathesis.cls#L102-L108
104-105是两行一模一样的代码，我想是不是把第二行改成:
[code]

[2018-04-07 14:04] songjinghe commented on #220
agree

[2018-04-07 15:53] sighingnow commented on #220
Thanks! 👍   A pull request for it is welcome! 👏 😉 😉

[2018-04-08 10:00] sighingnow commented on #220
Close as fixed via #221 .

[2018-04-08 10:00] #220 closed

[2018-04-11 06:29] KingAndQueen opened #222 "请问，doctor的模版 运行哪个tex"
感谢！找到我航的latex了，请问，doctor的模版 运行哪个tex，还是要自己修改master的？

[2018-04-11 07:31] huxuan commented on #222
把master模板里面的master参数改成doctor就可以了

[2018-04-11 10:29] KingAndQueen commented on #222
thanks！ 搞定， 大家可以设置这里的doctor \documentclass[doctor,openright,twoside,color]{buaathesis}

[2018-04-11 10:29] #222 closed

[2018-06-01 06:51] beantowel opened #223 "地址不详，学校不详问题"
在buaathesis.bst文件中
[code]
是否应该改为
[code]
第一次尝试latex，不知道提的对不对。这调试有点痛苦啊，论文搞不定了要。

[2018-06-02 04:03] LeungGeorge opened #224 "双导师 双职称？"
rt，定义为双导师时，职称需要手动加副导师职称（@ buaathesis.cls:932:）：

`buaathesis.cls:932:                指导教师姓名 & \makebox[9em][s]{\buaa@teacher\quad\buaa@subteacher\hfill} & 职\qquad 称 & \buaa@teacherdegree \\`

to：

`buaathesis.cls:932:                指导教师姓名 & \makebox[9em][s]{\buaa@teacher\quad\buaa@subteacher\hfill} & 职\qquad 称 & \buaa@teacherdegree\quad\buaa@teacherdegree \\`

[2018-06-04 02:12] sighingnow commented on #224
对于双导师的情况，可以这样：给模板加上`twoteacher`选项：

    \documentclass[bachelor,openany,oneside,color,twoteacher]{buaathesis}

然后在 `data/com_info.tex`中定义副导师的**姓名**：

https://github.com/BHOSC/BUAAthesis/blob/a3c5200af9831da15607590d365e3f41e42c86b9/data/com_info.tex#L25-L29

在`data/master/master_info.tex`中定义副导师的**职称**：

https://github.com/BHOSC/BUAAthesis/blob/a3c5200af9831da15607590d365e3f41e42c86b9/data/master/m

[2018-06-04 02:12] #224 closed

[2018-06-06 16:10] beantowel opened #225 "任务书的模版太凑合了"
内容居然是手动一行一行填写的，而且行数是固定的，不能多也不能少，插入任务资料的引用基本实现不了。

[2018-06-09 12:14] JosephPeng commented on #225
(扶额笑)
Personally, I can't agree more, the code of that part is ... a little bit ugly.
Unfortunately, we can't find a property method to meet the requirements of the department of BUAA other than that way.
It would be appreciated if there are some more artful ways to achieve the requirements.

[2018-06-10 06:14] sighingnow commented on #225
We do have tried to improve this page. However we found it's not easy to reach a more elegant solution for this bug.

I have submitted PR #191 to solve #189. Finally @huxuan and I both agreed that we should have a fixed style in these two pages and every part should occupy same lines whether there is enough contents.

See more related discussion in #191. For expert users, see [this diff](https://g

[2018-06-10 06:30] huxuan commented on #225
This LaTeX template is not official recognized, so please use it at your own risk.
Some parts are hacked for some reason, you are welcome to improve it.
Close this issue as I do not think we will fix this in the near future.

[2018-06-10 06:30] #225 closed

[2018-06-10 10:51] #218 closed

[2018-06-10 10:52] JosephPeng commented on #218
Closed as this issue have been solved in #219

[2018-09-27 02:27] huangteng1220 opened #226 "四级标题在目录中显示格式不对，怎么修改"
各位大神，我在文档开始处添加：
\setcounter{secnumdepth}{3}
\setcounter{tocdepth}{3}
能正常的显示
四级标题标号，也能在目录中显示四级标题，但是，字体和后面的点号有问题，请问怎么修改？谢谢！！

![a](https://user-images.githubusercontent.com/6296851/46119892-d9f15480-c23f-11e8-9c99-322363d5610d.png)

[2018-09-27 03:37] huangteng1220 commented on #226
已经解决了，谢谢大牛

[2018-09-27 03:37] #226 closed

[2018-09-27 04:16] huxuan commented on #226
@huangteng1220 could you provide the solution so that other guys can have as reference?

[2018-10-02 05:51] zepinglee commented on #115
可以使用 https://github.com/zepinglee/gbt7714-bibtex-style 或
https://github.com/hushidong/biblatex-gb7714-2015

[2018-10-31 05:45] 490 opened #227 "请问如何将此模板应用于overleaf"
想用overleaf在线编辑，发现清华，哈工大等都有overleaf模板，请问如何将这份北航版导入overleaf？谢谢

[2018-11-05 01:20] songjinghe commented on #227
直接上传不就行了？

[2019-01-09 08:47] wokegrdws commented on #227
直接上传到overleaf或者下载来编译\maketitle有字体的问题。用的MacBook。

[2019-01-16 01:51] dongb5 opened #228 "宋体加粗问题"
你好，我编译之后需要宋体加粗（如图题，表题等）没有加粗，请问如何解决？我是win10+texlive2018+texstudio，用xelatex编译。

[2019-01-25 06:44] songjinghe commented on #227
@wokegrdws 用的是xelatex吗？mac缺少Windows的字体肯定有问题啊，overleaf也可能缺字体。。。
mac的话自己安装一下字体吧。。。没有用过mac
overleaf那个如果缺字体就上传一下，然后我记得ctex里有个命令可以设置字体文件的。

[2019-01-25 07:46] wokegrdws commented on #227
@songjinghe 用的是Xelatex。字体的问题出在“华文行楷”，因为Mac自带的字体中只有“华文楷体”。把.cls文件里的
[code]
改成
[code]
应该就可以了。不过还是有几个字体shape的warning，没仔细看。

[2019-01-26 14:34] JosephPeng commented on #228
图、表的标题已经按官方的要求定义了格式了。如果需要自行修改的话，需要手动修改cls文件里的相应代码(大概是在cls文件的405行至431行)。

[2019-04-25 07:17] BuaaAlban commented on #227
windows下载下来也是不能用呀 请问overleaf解决了嘛

[2019-04-25 07:22] wokegrdws commented on #227
@BuaaAlban 不会吧，Windows应该可以用吧。MacBook只要下载华文行楷字体就能基本正常用。

[2019-04-25 07:30] BuaaAlban commented on #227
我在texstudio用的xelatex编译 他提示我有几个字体没有

朱博康
北京航空航天大学
中法工程师学院
地址：北京市海淀区学院路37号
邮编：100191
电话：13051576002
邮箱：buaazbk@buaa.edu.cn

Zhu bokang
Beihang University
Ecole Centrele de Pekin
Adress:No.37 College Road, Haidian District, Beijing
Tel: 13051576002
E-mail: buaazbk@buaa.edu.cn
在2019年4月25日 15:22，wokegrdws<notifications@github.com> 写道：

@BuaaAlban 不会吧，Windows应该可以用吧。MacBook只要下载华文行楷字体就能基本正常用。

—
You are r

[2019-04-25 07:34] huxuan commented on #227
字体问题可以看一下这个issue #208

[2019-04-25 07:44] BuaaAlban commented on #227
搞定啦 非常感谢!

朱博康
北京航空航天大学
中法工程师学院
地址：北京市海淀区学院路37号
邮编：100191
电话：13051576002
邮箱：buaazbk@buaa.edu.cn

Zhu bokang
Beihang University
Ecole Centrele de Pekin
Adress:No.37 College Road, Haidian District, Beijing
Tel: 13051576002
E-mail: buaazbk@buaa.edu.cn
在2019年4月25日 15:34，Xuan Hu (Sean)<notifications@github.com> 写道：

字体问题可以看一下这个issue #208

—
You are receiving this because you were mentioned.
Reply to th

[2019-04-27 05:53] Inception41 opened #230 "texlive2018好像编译不过"
大佬学长们，我现在用的texlive2018，编译不过，各种问题（以前系统重装之前用的texlive2016，没问题），请问我只能卸载2018重装texlive2016解决吗？谢谢各位了！

[2019-04-27 15:53] kjgfcdb commented on #230
我也遇到了编译不过的问题，看MakeFile中将bibtex前加了横线表示忽略出错，如果删除这个横线，那么编译总是会在bibtex阶段出错，以下是出错的Log
[code]
在网上搜索了以下，猜测可能是buaathesis.bst文件中定义了一些FIELD但是在我的bib文件中没有，我的bib文件内容如下：
[code]
目前的问题是：
1. 在编译过程中忽略bibtex出错会不会有什么问题？
2. 如果想要修复这个出错，有没有可行的办法？

谢谢！

[2019-05-01 15:22] BuaaAlban commented on #227
您好，我发现了咱们模板好像有一个小bug，就是在章节中，在换到新的一页后，新页和上一页不对齐，后面的页不受影响。请问您知道是怎么回事嘛

朱博康
北京航空航天大学
中法工程师学院
地址：北京市海淀区学院路37号
邮编：100191
电话：13051576002
邮箱：buaazbk@buaa.edu.cn

Zhu bokang
Beihang University
Ecole Centrele de Pekin
Adress:No.37 College Road, Haidian District, Beijing
Tel: 13051576002
E-mail: buaazbk@buaa.edu.cn
在2019年4月25日 15:44，朱博康<buaazbk@163.com> 写道：
搞定啦 非常感谢!

朱博康
北京航空航天大学
中法工程师学院
地址：北京市海淀区学院路37号
邮编

[2019-05-01 15:25] BuaaAlban commented on #227
貌似是奇偶数页码的左右留白宽度不一致导致的

朱博康
北京航空航天大学
中法工程师学院
地址：北京市海淀区学院路37号
邮编：100191
电话：13051576002
邮箱：buaazbk@buaa.edu.cn

Zhu bokang
Beihang University
Ecole Centrele de Pekin
Adress:No.37 College Road, Haidian District, Beijing
Tel: 13051576002
E-mail: buaazbk@buaa.edu.cn
在2019年5月1日 23:22，朱博康<buaazbk@163.com> 写道：

您好，我发现了咱们模板好像有一个小bug，就是在章节中，在换到新的一页后，新页和上一页不对齐，后面的页不受影响。请问您知道是怎么回事嘛

朱博康
北京航空航天大学
中法工程师学院
地址：北京市

[2019-05-04 11:10] wokegrdws opened #231 "diagbox包导致排版出错"
使用`diagbox`宏包制作斜线表头的时候，会导致章节标题的间距等出错。只要使用`\usepackage{diagbox}`就出错。

[2019-05-06 14:53] JosephPeng commented on #230
@kjgfcdb bibtex是用来生成"参考文献"的，如果去掉bibtex，则论文中引用的"参考文献"将会显示为"?"，附录的“参考文献”章节也会为空白。

[2019-05-06 14:57] JosephPeng commented on #227
@BuaaAlban  不知道你用的是模板中使用的参数是 “oneside” 还是 “twoside”，根据这个参数的不同，oneside的奇偶而边距是不会变的，twoside的奇偶页的边距会根据奇数页和偶数页变换的，以适应双面打印。

[2019-05-14 02:48] YOULLNEVERWA opened #232 "texlive2016编译出来的pdf知网查重时目录没能被忽略"
目录里有4000+"."，导致查重率GG，换成texlive2018后目录能够被知网查重成功忽略

[2019-06-04 02:56] yangalan123 commented on #204
有什么进展吗？关于这个问题？

[2019-06-04 04:31] yangalan123 commented on #204
解决了，定位到CLS文件里geometry的定义，在页边距的定义中加入includefoot即可，参考：https://latex.org/forum/viewtopic.php?t=11335

[2019-06-04 05:28] sighingnow commented on #204
@yangalan123 Thanks for working on this issue. Could you please submit a pull request for a fix?

[2019-06-04 15:55] yangalan123 commented on #204
Yes! I have created a PR #233

[2019-06-05 02:51] huxuan commented on #204
@yangalan123 really appreciate it.

[2019-06-05 16:01] sighingnow commented on #204
Closed in #204 by @yangalan123.

[2019-06-05 16:01] #204 closed

[2019-06-05 16:08] yangalan123 opened #234 "xelatex编译顺序问题"
我不确定是否和windows环境以及texlive 2019有关系...但是我在写作我的毕设论文时如果直接用bat文件，会导致编译出的PDF不少引用无法链接（显示问号），我查了stackoverflow，感觉bat这个编译顺序：bibtex->xelatex->xelatex不是很对？比较通用的应该是xelatex->bibtex->xelatex->xelatex，我自己写了个shell是这么编译的就没问题

[2019-06-05 16:11] sighingnow commented on #227
I have tried to sync this repo to overleaf for better user experiences. It works fairly well to build and generate PDF targets, but the most concern is about the license of fonts. Some fonts used by this template may need to obey certain licenses of Microsoft. But I'm not very sure about that since I'm not an expert on font licenses.

It seems that overleaf has also support something like "fork",

[2019-06-05 16:16] sighingnow commented on #231
I don't know how to use the `diagbox` package. But I have tried that putting `\usepackage{diagbox}` in `sample-bachelor.tex` (after `documentclass` and before `\begin{document}`) the build process can generate the target PDF as usual, without any errors.

Could you please provide more information about your trouble? For example the version of texlive, where you write `\usepackage{diagbox}` and the

[2019-06-05 16:18] sighingnow commented on #234
The command sequence invoked by `msmake.bat` is also `xelatex->bibtex->xelatex->xelatex`, and is the same with what invoked in `Makefile`.

[2019-06-05 16:24] sighingnow commented on #232
I would fix that by recommending TexLive 2019 in readme :)

[2019-06-05 16:27] sighingnow commented on #230
TexLive 2018 should be OK (on my windows). The error in the following log seems to be ignorable.

[code]

@Inception41 @kjgfcdb Could you please provide a full version of your error log?

[2019-06-06 01:53] kjgfcdb commented on #230
@sighingnow My error log is same as yours. I know the errors can be ignored now, just use the `msmake.bat` in windows or the `MakeFile` in *nix. Anyway, thanks for your reply.

[2019-06-06 02:01] sighingnow commented on #230
Thanks for your feedback. I'm going to close this issue as solved.

[2019-06-06 02:01] #230 closed

[2019-06-06 02:20] #234 closed

[2019-10-29 10:00] AlienMarkWong opened #235 "texlive2017 编译报错"
![image](https://user-images.githubusercontent.com/31840432/67756999-f9c3ff00-fa75-11e9-93b1-9890c880c32f.png)

[2019-10-29 13:15] yangalan123 commented on #235
请check一下您的latex的package的安装情况，可能有遗失的内容。从log上来看可能对中文的支持不完全。

[2019-11-05 03:53] lijinfeng0713 commented on #155
![image](https://user-images.githubusercontent.com/9656113/68177266-ba8c3580-ffc2-11e9-99d2-9e578022cda2.png)
设置gbpub=false即可忽略出版社和出版地信息

[2019-11-06 03:36] sighingnow commented on #235
用的是xelatex来编译吗？在TexStudio里面可能需要选择或者设置一下。

[2019-11-06 03:38] sighingnow commented on #231
Closed as lacking response from the author.

[2019-11-06 03:38] #231 closed

[2019-11-06 03:40] sighingnow commented on #232
Closed as we assume that users are working with texlive newer than 2017.

[2019-11-06 03:40] #232 closed

[2019-11-06 10:47] SpongebBob opened #236 "table，figure，eq reference loss"
XeTeX, Version 3.14159265-2.6-0.99998 (TeX Live 2017/W32TeX)

(preloaded format=xelatex)

 restricted \write18 enabled.

[2019-11-06 11:40] sighingnow commented on #236
Cannot reproduce and has confirmed with the author of this issue, closed.

[2019-11-06 11:40] #236 closed

[2019-11-07 12:31] BiggerHao opened #238 "硕士学位论文目录中条标题字体不符合推荐"
根据“北京航空航天大学研究生撰写学位论文的规定（2009 年 7月）”文后的“附件15 博（硕）士学位论文目录格式”，“条标题用五号宋体、 1.5倍行距”。但是目前的模板中，条标题用的似乎是黑体，建议进行修改。

[2019-11-07 13:41] sighingnow commented on #235
Closed as lacking of response.

[2019-11-07 13:41] #235 closed

[2019-11-07 13:45] sighingnow commented on #238
同一文件的第三页3.1.3要求“条标题：小四号黑体居左”。

[2019-11-07 13:58] BiggerHao commented on #238
@sighingnow 第三页的那个要求说的应该是条标题在正文中的样式，而非在目录中的样式。比如第三页还要求章标题居中。

[2019-11-10 09:15] liueddd commented on #211
请问大佬是如何解决四级标题的问题的？

[2019-11-11 14:47] BiggerHao commented on #155
@lijinfeng0713 请问能否提供更多的信息呢？我把这句加到\begin{document}前面会报错。请问是否还进行了其他修改？

[2019-11-11 15:26] BiggerHao commented on #155
终于解决了:rofl: 参考上面使用biblatex，具体步骤为：
- 注释掉`buaathesis.cls`的下面几行：
[code]
- 在tex主文件里的`\begin{document}`之间添加：（其中bibs.bib是你的bib文件名，biblatex选项也可以进行其他的设置，可参考https://github.com/hushidong/biblatex-gb7714-2015）
[code]
- 在`reference.tex`里注释掉下面的第一行，并添加第二行：
[code]
- 若使用TeXStudio，在选项-设置-构建里，设置默认文献工具为Biber，若使用其他IDE应该也要进行相应的修改。

[2019-11-12 14:55] q623436923 opened #239 "硕士论文模板图标题的字体问题"
![捕获33](https://user-images.githubusercontent.com/57673709/68681706-d4b7ac00-059e-11ea-9962-01f43b91939c.PNG)
![捕获34](https://user-images.githubusercontent.com/57673709/68681921-3d9f2400-059f-11ea-94e1-2006df8abbfc.PNG)
下载的硕士论文模板源码，然后用XeLaTex进行编译，发现图片的标题字体并不是黑体，与模板里给的硕士论文模板样例sample-master.pdf中图片标题字体不一样，第一张图为我自己通过XeLaTex编译生成的pdf，第二张图为硕士论文模板样例的pdf。按照规定格式图片标题字体是黑体，但是自己编译后得到的却不是，请问该怎么解决这个问题

[2019-11-12 15:50] sighingnow commented on #239
根据《北京航空航天大学 研究生撰写学位论文的规定 （2009 年 7 月修订）》，图、表标题应该为“五号宋体加粗”，请问可否提供“按照规定格式图片标题字体是黑体”的来源？

至于宋体没有正确加粗的问题，已经在 #240 中修正。

[2019-11-12 16:01] sighingnow commented on #238
Confirmed, will be fixed by #241. Thanks for bringing this up.

[2019-11-12 16:06] sighingnow commented on #211
@liueddd 关于四级标题(aka. `subsubsection`)，可否提供比较官方的格式说明或样例？

如需自行修改的话，在此处修改增加定义目录中四级标题格式：

https://github.com/BHOSC/BUAAthesis/blob/dd6a109d0ffc15289b001bcd751b877902a9a7ca/buaathesis.cls#L201-L216

以及在此处定义四级标题在正文中的格式：

https://github.com/BHOSC/BUAAthesis/blob/dd6a109d0ffc15289b001bcd751b877902a9a7ca/buaathesis.cls#L153-L174

即可。

[2019-11-12 16:14] sighingnow commented on #211
This bug should be fixed by #240 as well, has been confirmed on Windows with Texlive 2017.

Hi @BiAiD it is too late for you to know it has been fixed, but we still want to say thanks to you for helping us diagnose the problem!

Since the pr is ready and there is another related issue (#239) I'm going to closed this ticket.

[2019-11-12 16:14] #211 closed

[2019-11-12 16:15] sighingnow commented on #228
Duplicate with #239 and will be fixed by #240.

[2019-11-12 16:15] #228 closed

[2019-11-13 05:30] #239 closed

[2019-11-13 05:31] #238 closed

[2019-11-13 05:50] huxuan commented on #217
I would suggest to close this issue since it is not related to BUAAthesis. We should not bring more extra complexity, and it should be a totally new repo. This is more like a project idea rather than an issue belongs to this repo.

[2019-11-13 07:13] sighingnow commented on #217
Closed as off-topic. If anyone has further comment or idea about the LaTeX template for 冯如杯，feel to reach me via email or join the QQ group :)

[2019-11-13 07:13] #217 closed

[2019-11-18 11:58] BiggerHao opened #243 "代码标题不居中"
![代码标题不居中](https://user-images.githubusercontent.com/7645930/69050637-732f8b80-0a3d-11ea-85e3-9e8cc592e1c8.png)
上面这张图应该可以很明显地看出来“代码2.5 编译步骤”是不居中的，我在使用algorithm环境的时候也有类似的问题（使用boxed模式，算法标题出现在下方，但是略微偏左，不居中），请问如何才能使标题居中呢？

[2019-11-25 02:04] BiggerHao opened #244 "online类型的参考文献的标识有误"
目前的版本里，online类型的参考文献的标识是[M]，但是我用其他GB7714格式生成的都是[EB/OL]。不知道这算不算一个错误呢？

测试样例：
bib文件如下：
[code]
第一条misc记录生成的参考文献如下：
[code]
第二条online记录生成的参考文献如下：
[code]
我看到online类型似乎是BibLaTex才支持的，不过在这里用BibTex似乎也出现什么问题，只是类型标识成了[M]。反而是BibTex支持的misc类型，这里变成了“缺文献类型标志代码”。

[2019-11-26 12:41] liueddd opened #245 "黑体加粗没效果"
模板中的涉及中文黑体加粗的格式，比如，“摘要”、“目录”、“关键字”等字，没有加粗效果。
尝试在模板中使用\bf，不管怎么调\bf与\heiti命令和\zihao命令的顺序，编译结果都是黑体未加粗的。

环境：windows10，texlive2019，在documentclass里面加了fontset=windowsnew选项。

形式审查，"目录"处被标记了格式不对。在线等，急。

[2019-11-27 07:02] sighingnow commented on #245
Confirmed with the author of this issue that the font error is caused by lacking of simhei-Bold font.

Close as solved.

[2019-11-27 07:02] #245 closed

[2019-11-27 07:04] sighingnow commented on #243
这个应该listings这个package的问题，你可以把listing放在一个figure里面，或者minipage里面，不要使用lsting的标题。

晚点fix。

[2019-11-29 04:49] huxuan opened #246 "关于bst"
很久没真正参与到项目的开发中了，特别感谢 @sighingnow （应该也毕业了吧）还坚持维护这个项目，解答问题。

发现最近好几个问题都是跟bst相关的，简单搜了一下，发现现在github上已经有类似项目[1][2]，主要用的是这两版bst[3][4]。我们是不是也可以考虑更新一下bst，最繁琐的应该是验证工作，是不是可以考虑搞个dev branch之类的，让有心人帮忙测试一下，或者搞成选项让大家可以选之类的~

[1] https://github.com/CheckBoxStudio/BUAAThesis
[2] https://github.com/KagamiChan/BUAAthesis-mod
[3] https://github.com/CTeX-org/gbt7714-bibtex-style
[4] https://github.com/Haixing-Hu/GBT77

[2019-12-01 11:22] liueddd commented on #246
关于bst，我提了pr。用的是[3]里面那个改的。这个看起来像个比较官方的实现。我做了一些改动，主要是为了去掉[S.l.][s.n.]这种挺不好看的东西。
我的pr中，保留了原来的\upcite命令，同时，可以与\cite命令兼容，即可以用\cite命令打出来正常大小的不带上标的引用，这样行文会更方便一点。
主要是标准的问题，看了新版2015版的国标，其中改动比较大的是作者姓氏的写法，要求，姓氏全大写，名保留大写首字母且不带‘.’。这个改动算是挺大的了。我用的这版bst，正好完美实现了这个。
本人即将硕士毕业，用的就是这个模板，挺好用的。传上来，希望给后人留点东西。

[2019-12-02 08:34] Archer-Tatsu commented on #244
misc里加一个entry
typeoflit={EB/OL}
可解

[2019-12-02 11:38] sighingnow commented on #246
@liueddd  Thank you for the work and I have commented under #247.

[2019-12-02 11:40] sighingnow commented on #246
And AFAK the official requirement says our thesis should follow gb/t-7714 2005, not gb/t-7714 2015 :)

[2019-12-20 02:07] Htallone commented on #246
这个参考文献著录，每个学校可能不同，不同年级可能也不同，研究生手册给的例子本身可能都有问题。我现在就用@misc{label, note = {XXX. YYY, ZZZ}}这种，note里面就是按照研究生手册中要求写的，每个参考文献都这样写，录入效率和word差不多；但是后面引用、排序等就方便多了，这也是一种临时策略吧

[2019-12-24 06:55] huxuan commented on #246
个人意见，我们可以考虑换成[3]或者[4]中的一种，当然有什么别的option也欢迎大家提出，然后最好可以在使用说明中说明不同的利弊，包括 @liueddd 提供的版本也可以列出来，目前的这个版本有些过于陈旧了，应该还是从ctex论坛里面拔下来的版本，肯定没有github上的well maintained。

[2019-12-27 04:26] huxuan commented on #246
Closed by #250 & #251, thanks again for the contribution! @liueddd

[2019-12-27 04:26] #246 closed

[2019-12-27 04:31] huxuan commented on #115
Closed as bst upgraded. Please feel free to reopen it if there is still any similar issue.

[2019-12-27 04:31] #115 closed

[2019-12-27 05:26] huxuan commented on #244
@BiggerHao Hi, we have update the bst file, could you help to confirm whether the problem is resolved or not?

[2019-12-27 05:37] huxuan opened #252 "bst sync script?"
Just trigger this mostly for discussion.

Since we are using the bst file from CTeX [1], it would be better if we can have some kind of script.

The script **BY DEFAULT** should download the latest [2] (or latest released [3]) bst from CTeX [1] and apply our changes like #251.

Other features come to my mind:
- Support download specific version, for example, the latest version in master branch or

[2019-12-27 09:30] BiggerHao commented on #244
@huxuan The new bst file works fine for me. I tried the same bib file with the latest repository and it gave me two same records in the reference section.
Below is the .bib file:
[code]
Below are the results I got:
[code]

[2019-12-27 09:41] huxuan commented on #244
@BiggerHao Great, thanks for the prompt feedback.

Close as the issue resolved.

[2019-12-27 09:41] #244 closed

[2019-12-31 02:58] sighingnow commented on #252
Agree that changes like #251 should be organized as patches and the we could apply the patch when with a easy-to-use script.

I think we should track the latest releases from upstream repository.

[2020-02-10 13:12] AirTaker opened #253 "TeXstudio编译报错"
求助一下各位大佬，编译其他模板的时候可以正常编译，但是编译这个毕设模板的时候会报错，不知道问题出在哪里，谢谢各位了！
环境：win10   TeXstudio 2.12.16   ctex 2.9.2
![1](https://user-images.githubusercontent.com/49189171/74152433-3db7ca00-4c49-11ea-9ca5-f19d87fc08c1.PNG)

![2](https://user-images.githubusercontent.com/49189171/74152445-43151480-4c49-11ea-86bc-1aea18fdbd1f.PNG)

[2020-02-10 13:26] huxuan commented on #253
看错误信息好像是没有安装 CTeX 包？

两个小建议：
1. 最好确保 cls 是最新版本的
2. 最好能提供完整的 log（截图的信息太有限了）

[2020-02-10 14:09] AirTaker commented on #253
cls版本应该是最新的，因为我是今天刚拉取的项目。

CTeX包我第一次build的时候失败了所以我卸载之后又重新安装了，不知道有没有问题
![image](https://user-images.githubusercontent.com/49189171/74156708-dce0bf80-4c51-11ea-87a5-c50fe8fcd84f.png)

这是完整的log：
https://github.com/AirTaker/Default/blob/master/sample-bachelor.log

[2020-02-10 14:12] AirTaker commented on #253
@huxuan
cls版本应该是最新的，因为我是今天刚拉取的项目。

CTeX包我第一次build的时候失败了所以我卸载之后又重新安装了，不知道有没有问题
![image](https://user-images.githubusercontent.com/49189171/74156992-70b28b80-4c52-11ea-8e6e-f2e73b6fc1c9.png)

这是完整的log：
https://github.com/AirTaker/Default/blob/master/sample-bachelor.log

[2020-02-10 14:24] huxuan commented on #253
几个小建议需要你尝试一下

bachelor.tex"

试试将文件目录改为纯英文，确保没有中文和特殊字符，最好连空格也没有

这个应该是第一条错误信息，没用过 TeXStudio，最好确认下 ctex 正确安装和配置了，比如写个简单的包含 `ctexset` 的 helloworld

[2020-02-11 04:14] AirTaker commented on #253
已解决！感谢！！

[2020-02-11 04:14] #253 closed

[2020-03-11 10:38] Ngbede-Joshua commented on #101
Please any help with the PhD latex template?

[2020-03-18 13:09] Ngbede-Joshua commented on #66
Hello,
Please I need to know how to reference on the template. I used  \cite{} and  \citep{} and both are not working.
Also, do you have the template in English? at the moment I am using the Chinese template provided.
 Thank you!

[2020-03-18 13:24] Ngbede-Joshua commented on #252
Hello,
Please I need to know how to reference on the template. I used  \cite{} and  \citep{} and both are not working.
Also, do you have the template in English? at the moment I am using the Chinese template provided.
 Thank you!

[2020-03-18 13:35] Ngbede-Joshua commented on #101
Why delete my comment? @BHOSC

[2020-03-22 18:26] Ngbede-Joshua opened #254 "References not working"
My references come out with '?'. please see picture below. Any help?

![image](https://user-images.githubusercontent.com/42242703/77257143-779ad800-6cad-11ea-9467-053453f6e8f9.png)

[2020-03-22 18:28] Ngbede-Joshua commented on #254
![image](https://user-images.githubusercontent.com/42242703/77257206-dbbd9c00-6cad-11ea-80ed-e529e1d7aa40.png)
 and the errors are seen above

[2020-03-23 16:35] JosephPeng commented on #254
@huxuan @sighingnow
Can you guys have a look about this issue?

[2020-03-23 16:42] JosephPeng commented on #254
Hi, @Ngbede-Joshua , could post your error paragraph code, and I wish you complied your thesis project with bibtex before xelatex when you need cite references.

[2020-03-24 15:51] Ngbede-Joshua commented on #254
Please see :
Process started

This is BibTeX, Version 0.99d (MiKTeX 2.9.6960 64-bit) The top-level auxiliary file: reference.aux I couldn't open database file data/refff.bib ---line 4 of file reference.aux : \bibdata{data/refff : } I'm skipping whatever remains of this command I found no database files---while reading file reference.aux I found no \bibstyle command---while reading file reference.a

[2020-03-25 01:08] JosephPeng commented on #254
Hi, @Ngbede-Joshua
I don't know what lead to this error, [https://github.com/BHOSC/BUAAthesis/blob/daf5a0828934fbed6f1158b0640255e72c737624/data/chapter5-usage.tex#L75](here) illustrated the usage of reference.
you may refer to the  [https://github.com/BHOSC/BUAAthesis/blob/master/data/bibs.bib](.bib) file structure, and use the .bst file in the BUAAthesis template, and use command '\cite[key]' or

[2020-03-27 06:09] huxuan commented on #227
Close as overleaf is non-goal **currently**.

[2020-03-27 06:09] #227 closed

[2020-05-03 11:33] meteorsh commented on #155
![image](https://user-images.githubusercontent.com/46078304/80913126-d8213880-8d74-11ea-8319-3ca525a7e6ef.png)

请问下红色箭头处的//要怎么去掉？

[2020-05-16 09:05] lanyunzhu99 opened #256 "无法使用参考文献"
您好，我使用texlive2016编译，无法加入参考文献。编译您给的源文件也无法生成您的示例那样的参考文献，请问有解决的办法吗

[2020-05-23 02:30] JosephPeng commented on #256
Due to your describration, I might suggest you to follow the compile the main.tex in the sequence of XeLatex -> BibTex -> XeLatex -> XeLatex.
Thus, If there are any further question, refer to the doc file [https://github.com/BHOSC/BUAAthesis/blob/217bfe6b0f5d6f3c38845efbbda5feb6f014d97a/data/chapter5-usage.tex#L75](hrere)

[2020-05-23 02:36] JosephPeng commented on #254
Close this issue as it has been solved.

[2020-05-23 02:36] #254 closed

[2020-05-23 07:24] huxuan commented on #256
Besides, texlive 2016 is a too old version that is not guaranteed to work. Please consider to upgrade to the latest version first.

[2020-09-12 13:48] Lucksong opened #257 "参考文献引用，格式不正确"
我clone下代码后，编译运行得到的引用文献的格式不正确。
<img width="878" alt="截屏2020-09-12 下午9 48 15" src="https://user-images.githubusercontent.com/20484903/92996897-ac436a00-f541-11ea-9883-54d8125caebb.png">
代码如下：

\texttt{.bib}参考文献数据库文件中，每个类别后的第一个为标号，在示例的\texttt{bibs.bib}中第一个书箱的标号为\textbf{kottwitz2011latex}，在引用此文献时，使用\verb|\upcite{kottwitz2011latex}|即可得到此文献\upcite{kottwitz2011latex}的引用\footnote{左侧“文献”的右上方即得到了此文献的引用。}。
使

[2020-10-05 03:30] Lucksong commented on #257
![Uploading image.png…]()

[2020-11-18 07:18] Cyboteen opened #260 "参考文献的作者仍然是全部大写"
官方文档bib文件里条目的author域有带{}和不带{}的，sample里的参考文献都能以首字母大写、其他字母小写的形式输出。
但在我本地，仅author域将名字用{}标注的条目能正常显示，其他条目的作者姓氏都是大写。
请问是什么问题呢？

非常感谢！

[2020-11-21 04:30] liueddd commented on #260
2015年新国标，要求作者姓氏全大写，名首字母大写。应该没问题。

[2020-11-26 14:35] Cyboteen commented on #260
《北京航空航天大学研究生撰写学位论文的规定》（2020年7月修订）给的示例是这样的：
`[1]毛峡, 丁玉宽．    图像的情感特征分析及其和谐感评价[J] ．电子学报, 2001, 29(12A) : 1923-1927
[2]Ozgokmen T. M., Johns W. E., Peters H., et al. Turbulent Mixing in the Red Sea Outflow Plume from a High-Resoluting Nonhydrostatic Model[J]. Jounal of Physical Oceangraphy, 2003,V33(8):1846-1869
`

修改bst文件解决了这个问题。

[2020-12-19 08:21] exgphe commented on #257
gbt7714的引用样式要选numerical而不是author-date

[2021-03-20 03:43] Ellen-Cheng commented on #192
I met the same problem, did you go over it, bro?

[2021-03-22 02:08] sighingnow commented on #192
May I know your texlive version?

[2021-03-28 08:18] sighingnow commented on #257
Close as answered.

[2021-03-28 08:18] #257 closed

[2021-03-28 08:19] sighingnow commented on #256
Close as it is a texlive related issue. The recent version should works as expected.

[2021-03-28 08:19] #256 closed

[2021-03-28 08:41] sighingnow commented on #66
No english version available since the users would be asked to submit the Chinese version, AFAIK.

[2021-03-28 08:42] sighingnow commented on #66
Close as we have moved to gbt7714.sty and we have another issue #252 to track the sync problem.

[2021-03-28 08:42] #66 closed

[2021-04-06 15:02] liangyubuaa opened #262 "更新texlive 2021之后报错'Extra }, or forgotten endgroup. [ maketitlepage]'(修改\uline命令后解决)"
怀疑是\uline命令在更新之后不支持大括号的参数命令，从而导致\hspace 的问题, 需要将 \hsapce 装在盒子里。

尝试将buaathesis.cls中包含在 \uline 中的\hspace{xxx}, 修改为 \mbox{\hspace{xxx}}，解决问题。

* 参考 https://wenda.latexstudio.net/q-5448.html
* 参考 https://blog.csdn.net/qq_41437512/article/details/114067479
* 参考 TEX.SE 上的问题 https://tex.stackexchange.com/questions/568732/uline-does-not-work-with-hspace

[2021-04-07 06:07] sighingnow commented on #262
@liangyubuaa,

Thanks for reporting. Could you please help me confirm if #263 fixes the problem in your environment?

[2021-04-07 06:34] liangyubuaa commented on #262
Sure. I made the same change and the problem was fixed perfectly

btw, some commands also seem to have compatibility issues (e.g. `\verb` from line 93-94 in chapter2-config.tex) and the error message is ` LaTeX Error: \verb ended by end of line.`. You may refer to this site [https://blog.csdn.net/xovee/article/details/106728213](url)

It is just a kind reminder, because this problem is only presen

[2021-04-07 06:53] sighingnow commented on #262
Thanks for letting me know that. I will merge #263 first and check the `\verb` issue later.

[2021-04-07 06:54] #262 closed

[2021-04-15 10:32] tqnwhz opened #265 "The body content is shifted upward, conflicting with the header"
I am using the latest master code, macTex 2021 and confronted with the following problem.

![image](https://user-images.githubusercontent.com/39870399/114855621-c0718180-9e18-11eb-94dc-d3e171bbb740.png)
![image](https://user-images.githubusercontent.com/39870399/114855650-c5363580-9e18-11eb-9bb4-7047da3ffd5e.png)

[2021-04-15 10:34] tqnwhz commented on #265
By the way, I compile it just by run the `make` command.
I am wondering whether it's a macText version incompatible error or something else, and how to resolve it .

[2021-04-15 12:14] sighingnow commented on #265
May I know your MacTex version? Then I could try to reproduce.

[2021-04-15 12:22] tqnwhz commented on #265
My MacTex version is 3.141592653-2.6-1.40.22 (TeX Live 2021).
I downloaded it just yesterday, and it's supposed to be the latest version.

[2021-04-15 12:23] tqnwhz commented on #265
My MacTex version is 3.141592653-2.6-1.40.22 (TeX Live 2021).
I downloaded it just yesterday, and it's supposed to be the latest version.

[2021-04-16 13:09] sighingnow commented on #262
@liangyubuaa FYI: the `\verb` issue has been fixed in #266, by @Chen-Jie-EE.

[2021-04-19 02:25] sighingnow commented on #265
Thanks.

I could reproduce the error on Mac, with TeXLive 2021. Working on that.

[2021-04-23 14:57] #265 closed

[2021-04-23 14:58] sighingnow commented on #265
Hi @tqnwhz,

It should have been fixed by #265, feel free to reopen if you still encounter the same error.

[2021-04-23 15:00] sighingnow commented on #262
Hi @liangyubuaa,

For TeXLive 2021 users, I believe you need to take a look at #265, which makes an erronous format with TeXLive 2021 and has been fixed in master now.

[2021-04-30 05:57] TingquanGao opened #269 "开题报告+文献综述"
建议增加一下开题报告和文献综述模板~

[2021-04-30 06:15] sighingnow commented on #269
I think that won't coming in the near future, but any help or patch are welcome!

[2021-05-06 03:15] tqnwhz opened #270 "Wrong number of lines in task book template"
I'm using the latest master code, texlive 2021 on windows , and confronted the following problem-the number of lines don't match:
![367d3c7d052492d294ba130f8cc86d0](https://user-images.githubusercontent.com/39870399/117236797-0c35aa80-ae5c-11eb-80da-4f2cfac7a270.png)
![e66de4fd2d289764ada01a5af7968ce](https://user-images.githubusercontent.com/39870399/117236805-1061c800-ae5c-11eb-98d0-5681189f3157

[2021-05-06 03:44] sighingnow commented on #270
Thanks for providing such information, will investigate soon.

[2021-05-10 02:33] sighingnow commented on #270
It was caused by https://github.com/BHOSC/BUAAthesis/pull/233.

[2021-05-10 05:23] sighingnow commented on #270
Hi @tqnwhz @hsiangyuzhao, could you guys help me to verify if #271 fixes your problem?

Thanks~

[2021-05-10 05:43] tqnwhz commented on #270
It seems to solve the problem. Thanks !

[2021-05-10 05:53] #270 closed

[2021-05-10 05:59] hsiangyuzhao commented on #270
Problem solved! Really appreciate your help and efforts!

[2021-05-11 17:25] nekithockey75 opened #272 "Build error"
Hello!

Running `make master` causes the following error.

[code]

I haven't modified the code.

How to reproduce:

 1. Windows 10
 2. Latex version: `XeTeX 3.141592653-2.6-0.999993 (TeX Live 2021/W32TeX) kpathsea version 6.3.3`
 3. Run `make master`

[2021-05-12 02:03] huxuan commented on #272
应该是由于fancyhdr升级导致的，之前有过一次hack，但是看来又升级了 - -

可以先把 buaathesis.cls 里的 128行-131行删掉试一下 [1]

[code]

[1] https://github.com/BHOSC/BUAAthesis/blob/b085bb0438d3493e5465a9f4862ccbfff6c85ff7/buaathesis.cls#L128

[2021-05-12 14:41] #272 closed

[2021-05-16 03:27] CookieLau commented on #272
Bachelor 编译也会遇到问题，注释 buaathesis.cls 的第 130 行即可解决问题。
`130: \f@nch@compatViiitrue`

[2021-05-16 03:40] sighingnow commented on #272
也是TexLive 2021 on Windows么

[2021-05-16 03:46] CookieLau commented on #272
TeX 3.14159265 (TeX Live 2020) MacOS + VSCode 1.56.0 + james-yu.latex-workshop 插件

[2021-05-17 01:40] huxuan commented on #272
最新版还会有吗？我这是2021没法复现的说……

[2021-05-20 03:19] CuiiGen opened #275 "硕士模板在TexLive2020编译序错误"
硕士模板在TexLive2020环境下报错，但master模板不会，报错提示如为：
[code]
报错位置为：
https://github.com/BHOSC/BUAAthesis/blob/88137140605eab55b9cb56d3fd4bba7e875c4fee/buaathesis.cls#L130

[2021-05-20 03:23] huxuan commented on #275
硕士模板 和 master 模板？是不是typo了

我本地升级了2021是没有问题的，建议升级一下。

[2021-05-20 03:25] CuiiGen commented on #275
是sample-bachelor.tex编译报错，sample-master.tex则没问题

[2021-05-20 03:27] sighingnow commented on #272
hi @CookieLau,

Could you help us if #276 works for your environment?

[2021-05-20 03:27] sighingnow commented on #275
Hi @CuiiGen,

Could you help us if #276 works for your environment?

[2021-05-20 03:35] CuiiGen commented on #275
问题解决了 @sighingnow

[2021-05-20 03:37] sighingnow commented on #275
Thanks. I'm going to land it.

[2021-05-20 03:38] #275 closed

[2021-05-20 03:39] sighingnow commented on #260
I think this issue requires being double check and possible fixes, as the template is not exactly same with GBT.

[2021-05-20 18:41] hywhuangyuwei opened #277 "Consider adding overleaf support?"
Currently it cannot be compiled on overleaf.

[2021-05-22 07:39] kxqt opened #278 "gbt7714 宏包改动"
gbt7714 宏包改动，使得对于 natbib 选项的传递出现问题，编译时报错
`Option clash for package natbib.`

[2021-05-22 13:49] #278 closed

[2021-05-24 03:09] kxqt opened #279 "增加旧版参考文献格式的支持"
有时候要求使用gbt7714-2005和gbt7714-1987的参考文献标准，请问能否添加对旧版的参考文献标准的支持？

[2021-05-26 06:45] Henning742 commented on #260
之前给学位办打过电话，对方回复是以北航样板或以国标为准都可以，最好以北航为准。

[2021-05-26 08:24] sighingnow commented on #279
暂时不会考虑都加进来，需要的话，你下载对应版本的bst，然后修改这里：[master][1], [bachelor][2].

[1]: https://github.com/BHOSC/BUAAthesis/blob/master/sample-master.tex#L5
[2]: https://github.com/BHOSC/BUAAthesis/blob/master/sample-bachelor.tex#L5

[2021-05-26 08:24] sighingnow commented on #279
Close as resolved.

[2021-05-26 08:24] #279 closed

[2021-05-27 15:35] 61269240 opened #280 "目录颜色"
为什么目录是红色的？

[2021-05-28 01:53] sighingnow commented on #280
去掉`documentclass`里面的`color`选项即可：https://github.com/BHOSC/BUAAthesis/blob/master/sample-bachelor.tex#L2

See also: https://github.com/BHOSC/BUAAthesis/blob/master/data/chapter5-usage.tex#L48

[2021-05-28 01:53] #280 closed

[2021-11-16 12:25] soldivelot opened #283 "链接过期"
https://github.com/BHOSC/BUAAthesis/blob/d693517032859e956509496b2f9c92eda8354094/data/com_info.tex#L5
原来的打不开了，应该是这个：
http://www.buaa.edu.cn/jgsz/yxsz.htm

[2021-11-16 13:48] sighingnow commented on #283
Thanks for reporting! Would you mind to submit a pull request for a quickfix? Thanks!

[2021-11-16 14:30] sighingnow commented on #283
Closed by #284.

[2021-11-16 14:30] #283 closed

[2021-11-24 14:26] soldivelot opened #286 "几处修改"
和《北京航空航天大学研究生撰写学位论文的规定》2020年7月版比对，发现几处不同：

1. 封面标题加粗，这个没有文字要求，但是给出的样板里是加粗的，尽量保持一致
2. 中图分类号与论文编号加粗，原因同上
3. 专硕提名页标题没有”专业“字样
4. 专业硕士和专业博士论文首页及提名页中应使用”专业名称“而不是”学科专业“

1-3 已经提交在 https://github.com/BHOSC/BUAAthesis/pull/285#issue-1062481682 中

[2021-11-24 18:31] #286 closed

[2021-11-24 18:33] sighingnow commented on #277
See also discussion under #227.

[2021-11-28 08:44] huxuan commented on #175
AFAIK, since @sighingnow has already graduated for several years, it might be the time to reopen (and even pin) this issue as meanwhile there are several more latex developers trying to contribute to BUAAthesis.

Hi, @xinwen-cs, @soldivelot, also any other contributors that who has contributed real tex related code or can prove the capability of LaTeX development, please let us know if you are int

[2021-11-28 08:44] huxuan commented on #175
AFAIK, since @sighingnow has already graduated for several years, it might be the time to reopen (and even pin) this issue as meanwhile there are several more latex developers trying to contribute to BUAAthesis.

Hi, @xinwen-cs, @soldivelot, also any other contributors that who has contributed real tex related code or can prove the capability of LaTeX development, please let us know if you are int

[2021-11-28 10:40] sighingnow commented on #175
Yes, new contributors are welcomed at any time!

[2021-11-28 12:27] HansBug opened #289 "关于开题报告/综述部分的重构想法"
Hi, gentlemen. Nice to meet you all, it's my pleas..... 咳咳好尬，总之很高兴能在这卷王时代，在程序猿们的真正家园遇到同志，哈哈。

说正事，我刚研究了一下之前开题报告的pr代码，功能基本ok但是缝合感明显。我认为主要问题出在这里——实际上开题/综述之类的东西是与本科/硕士/博士这一学位变量无关的，是另一个维度上的存在，而在`buaathesis.cls` 中， #258 这个pr的实现却将开题/综述与学位放在了并行位置上，于是就容易有问题，比如和`twoside`是不兼容的。

这部分我倒是感觉比较理想的一个状态是能将`kaitireport`或者`review`摆在documentclass那里。

当然了，考虑到实际使用需要，建议这波pr #287 还是尽快merge起来，然后重构后续再来弄。

BTW，接个其他人留下来的pr整起

[2021-11-28 13:39] sighingnow commented on #289
#287那几个comments address之后就可以合并了

没问题的~

[2021-11-28 13:59] sighingnow commented on #269
Resolved by #287, and further enhancement will be tracked by #289.

[2021-11-28 13:59] #269 closed

[2021-11-28 16:34] soldivelot commented on #289
确实需要重新设计一下，现在代码包括文件的分类都是针对毕业论文设计的，在毕业论文的前提下对学位进行分类，直接加入开题报告就会比较奇怪，比如作者中英文名什么的那些信息就只能放在主文件下，没法拆出来

[2021-12-03 02:38] xuefeng-xu opened #291 "学术型和专业型学位，封面、提名页的不同之处"
学术博士vs专业博士
![image](https://user-images.githubusercontent.com/41134380/144535248-631631b3-7b59-4319-b236-f2e7743912fc.png)
![image](https://user-images.githubusercontent.com/41134380/144535186-0f918d7e-592c-4d13-a915-bdaaa1be25d7.png)
学术硕士vs专业硕士
![image](https://user-images.githubusercontent.com/41134380/144535126-c6b3b143-e155-4d34-8bee-30d7e8b3c8ef.png)
![image](https://user-images.githubusercon

[2021-12-03 12:26] soldivelot commented on #291
[#288](https://github.com/BHOSC/BUAAthesis/pull/288)里有修改，你可以更新下看看解决没有

[2021-12-03 13:13] xuefeng-xu commented on #291
已经解决，谢谢，添加professional即可
![image](https://user-images.githubusercontent.com/41134380/144608242-efcc809b-51d1-41da-9f8e-5bad8b7aabd2.png)

[2021-12-03 13:13] #291 closed

[2021-12-04 13:07] HansBug opened #294 "关于可能存在的字体缺少问题"
刚才这边经过测试，在linux环境下编译不通过的主要原因在于缺少字体（例如`Times New Roman`等）

请问各位对这个问题有何建议？是否该考虑将一些主要的字体文件加入到仓库中，并在README中加入相关安装指引？

btw: 这边正在尝试给仓库添加github action，让其能自动编译运行，因此也正在进行逐个排雷中，等CI那边能全部过编译了应该也就能将主要问题都总结出来了。

[2021-12-04 14:13] sighingnow commented on #294
CI 的问题在于装texlive太慢了。。（好几年前在travis-ci上尝试build过另一个project）。

顶多给出安装指引，比如从哪里下载等等。把字体文件放进repo不太合适~

[2021-12-04 14:15] HansBug commented on #294
@sighingnow 我这边已经弄出来靠谱的CI运行方案了，装texlive显然很慢，不过现在github-action有现成的虚拟环境可以用。

以及，在CI中运行的话，一些字体依然不太好下载（指的是用命令很自然地下载），所以有啥好的办法可以将资源上传然后供CI里面curl下载不？

[2021-12-04 14:24] HansBug commented on #294
这样，我先开个public repo，把字体丢进去，然后CI运行的时候clone过来。

这边暂时找不到比较合适的静态资源托管服务。

[2021-12-04 14:27] huxuan commented on #294
字体没有放进来主要是版权的原因，建议这块最好还是谨慎一点。

[2021-12-04 14:32] HansBug commented on #294
@huxuan

这边是这么个情况，目前主要缺：
* `Times New Roman`，这个刚确认过了，免费可商用
* `STXingKai`，刚查了一下，华文行楷商用需要授权，不过不知道我们这个算不算商用~~~，求解答

这个问题真的得能解决，不然很麻烦

[2021-12-05 02:07] huxuan commented on #294
我们这个应该是不算商用的，印象中当初比较麻烦的就是华文行楷，Times New Roman 本身也有不少很相近的替代品，不过 anyway，这些都是比较老古董的事情了，那时候也没有 Github Actions，能搞一个也挺好的，理论上大家可以 fork 过去本地不安装 latex 也可以用了。

[2021-12-05 02:56] HansBug commented on #294
@huxuan

是的，尤其是github action这个东西，对外部设施依赖非常低（此处点名gitlab runner，那玩意好多都得自己配置），基本上fork即用。

字体那边我已经换上链接下载了，目前还在等review，感觉基本上ok了

[2021-12-05 10:29] HansBug commented on #294
Closed due to #295

[2021-12-05 10:29] #294 closed

[2021-12-05 12:17] HansBug opened #297 "CI Linux环境编译与实际Win环境编译存在不同"
如题所示，目前已知的现象包含：
* 硕士第二页英文缺少加粗：https://github.com/BHOSC/BUAAthesis/pull/296#issuecomment-986214488
* 数字与字母会出现原本并不存在的斜体

此问题后续有待进一步修复，疑似在这些环境下缺少相关的字体文件或定义。

[2021-12-05 12:30] HansBug commented on #297
进一步测试了一下，很奇怪，本地ubuntu环境在装了这几个字体后，运行正常，没有出现上述问题。

[2021-12-06 02:44] huxuan commented on #297
是不是因为没有刷新字体 cache?  `fc-cache -f -v`

可以使用 `fc-list` 来 check 一下

[2021-12-06 02:56] HansBug commented on #297
刚去跑了一下字体识别，CI里面出来的英文和数字字体应该是Nimbus Roman Italic，不知道有没有人有头绪。

@huxuan 应该不是这个原因，action里面的latex编译虚拟环境会安装指定的那些外部字体（这个action本质上提供了一个docker虚拟环境，在内部进行的编译），然后就不知道为啥，Times New Roman出不来。

[2021-12-06 03:07] HansBug commented on #297
CI上的完整运行日志：[7_Compile sample-master.tex to pdf.txt](https://github.com/BHOSC/BUAAthesis/files/7657687/7_Compile.sample-master.tex.to.pdf.txt)

本地的完整运行日志：[local_run_log.txt](https://github.com/BHOSC/BUAAthesis/files/7657689/local_run_log.txt)

简单对比了一下，CI里面有大量类似这样的warning：

[code]

[2021-12-06 04:55] #297 closed

[2021-12-06 04:56] HansBug commented on #289
Merged in #296 .

[2021-12-06 04:56] #289 closed

[2021-12-06 05:01] sighingnow commented on #243
Has been fixed in master.

Bachelor:

![image](https://user-images.githubusercontent.com/7144772/144789940-70a52926-2e32-4ba7-9955-1bb51a95ba61.png)

Master:

![image](https://user-images.githubusercontent.com/7144772/144789950-4d632fba-f50a-45a2-912b-6840d579fda1.png)

[2021-12-06 05:01] #243 closed

[2021-12-06 05:02] sighingnow commented on #260
Closed as won't be a problem, IMO.

[2021-12-06 05:02] #260 closed

[2021-12-15 03:21] HansBug opened #300 "Color of cite and TOC"
如题，目前footnote、ref以及目录均为红色，而cite为绿色。

请问这是有什么特殊的规定吗？目前我所接触到的都统一用的黑色。

求各位前辈解答。如果这部分有必要调整的话后续会考虑开个pr。

[2021-12-15 04:36] sighingnow commented on #300
There's an option that controls the behaviour: https://github.com/BHOSC/BUAAthesis/blob/master/data/chapter5-usage.tex#L53

[2021-12-15 04:50] sighingnow commented on #300
Close as answered.

[2021-12-15 04:50] #300 closed

[2021-12-15 04:53] HansBug commented on #300
Okay, got it.

Actually, the format requirements of all the degree's paper are non-colored.

[2021-12-15 09:21] huxuan commented on #300
Generally, color is useful in the electronic edition, providing an option for color is kind of convention.

[2021-12-16 09:58] xinwen-cs opened #301 "参考文献国标"
图书馆提交要求使用87版国标，为啥对应的bst文件被移除了，2015版能通过图书馆审核吗？

[2021-12-16 10:11] sighingnow commented on #301
See https://github.com/BHOSC/BUAAthesis/pull/255

[2021-12-17 02:40] HansBug opened #303 "Plantuml supported version."
写硕士开题期间搓了一个支持plantuml自动编译的版本：https://github.com/HansBug/BUAAthesis/tree/dev/diagrams

Q: 为啥不用plantuml package
A: 生成图效果实在不咋样，还有latex环境上的外部依赖，不利于自动化。还是makefile编译产生eps再装进pdf香，简单暴力管用。

不知道几位是否有兴趣，这种图很适合用来绘制流程、系统架构、状态等，而且只需要改改代码即可在repo里维护。

btw: graphviz我也在这次用到，不过似乎中文支持有点小毛病所以暂时没放进来，后续我研究下怎么搞，对6系人这玩意很重要，画数据结构必备。

[2021-12-17 02:58] HansBug commented on #303
以及实际上脑洞可以开的更大一些，比如支持通用的`sh`脚本，这种东西挺适合拿来自动生成文档里面的图，以及程序片段运行结果的。

[2021-12-17 05:50] sighingnow commented on #301
I think it should be to OK to use gbt7714-2015.

I haven't compared the differences between those versions, but the original bst is for gbt7714-05, and I have never known there are issues when submiting the final version.

[2021-12-17 05:50] #301 closed

[2021-12-17 05:54] sighingnow commented on #303
Not everyone needs such diagram support and I think `plantuml` doesn't fit the need of everyone who needs diagrams, based on user preferences.

I'm OK to add a section about how to adding support of plantuml to the document (as we already have many "how-to-use" sections), but I prefer not adding it to the default settings.

[2021-12-17 05:55] sighingnow commented on #303
Maybe adding to https://github.com/BHOSC/BUAAthesis/blob/master/data/chapter4-basic.tex would be enough?

[2021-12-17 06:28] HansBug commented on #303
Well, may be just put it into a branch? And put a guide section to the main branch's version?

[2021-12-17 06:53] sighingnow commented on #303
Generating svg/pdf from `.dot` file and related Makefile targets shouldn't be part of the template repo. Imaging that I don't have some `.dot` file, but have some `.py` files that generate `.dot` files then generate pdf using graphviz. Then what I need in the Makefile would be running `python` rather than `dot`.

I mean, it is a very customized feature that depends on user experience and not suita

[2021-12-17 06:55] sighingnow commented on #303
I'm ok with adding "How-to"s for such highly customized feature requests, but I prefer to keep the template "clean" and keep it as just a "template".

[2021-12-17 07:28] HansBug commented on #303
Okay, I see, I will keep this.version in my fork repo. And maybe create standalone project for this kind of feature(actually it is not only useful in latex building).

[2021-12-17 09:30] HansBug commented on #303
- [Version with PlantUML](https://github.com/HansBug/BUAAthesis/tree/dev/diagrams)
- [Version with PlantUML && Graphviz](https://github.com/HansBug/BUAAthesis/tree/dev/graphviz)

Will be long-term maintained.

And when the tools which can create this feature [mentioned here](https://github.com/BHOSC/BUAAthesis/issues/303#issuecomment-996497214), I will append a comment.

[2021-12-20 03:12] sighingnow commented on #303
Closed as discussed.

[2021-12-20 03:12] #303 closed

[2021-12-21 09:55] dualculture opened #304 "After recompiling, there is an extra blank line below the figure"
Is there a solution?

[2021-12-23 11:20] sighingnow commented on #304
Hi @dualculture,

Thanks for reporting the issue. Could you provide more information about the issue? e.g., uploading a problematic PDF here or snapshot the page where the issue occurs.

[2021-12-27 03:17] RayKr opened #305 "can't show cn-zh fonts correctly on macOS Monterey 12.1"

[2021-12-27 03:43] sighingnow commented on #305
Have you installed the required fonts correctly?

[2021-12-27 03:56] RayKr commented on #305
Yes, I think there are all need fonts on my macos.

## current env
macOS Monterey 12.1
MacTex2021
VSCode with LaTex Workshop plugin
## issue
When I compile `sample-master.tex` by xelatex, but error, there's 9+ errors, just like `Package fontspec: The font "SimHei" cannot be found.`, `Font TU/SimHei(0)/b/n/10.53937=SimHei/OT:embolden=2.17; at 10.53937pt not loadable: Metric (TFM) file or installed

[2021-12-27 03:58] RayKr commented on #305
I test it in a new test.tex by `\usepackage{ctex}` and type Chinese words, run well.

[2021-12-27 07:49] RayKr commented on #305
I change'd two lines of `buaathesis.cls` like this, then it work.
'''
\setCJKfamilyfont{songti}[AutoFakeBold = {2.17}]{STSongti-SC-Regular}
\setCJKfamilyfont{heiti}[AutoFakeBold = {2.17}]{STHeitiSC-Light}
'''
Maybe caused by different os has different font name. On Windows it named SimSun, but STSongti-SC-Regular on macOS.

So you gays should consider how to fix this problem between different os,

[2021-12-27 08:36] huxuan commented on #305
@RayKr Could you help to try whether removing those `\setCJKfamilyfont` commands helps to resolve the problem?

I suppose it might be better to follow the usage of ctex toolkit [1][2] rather than those old hackings.

[1] https://github.com/CTeX-org/ctex-kit
[2] https://ctan.org/tex-archive/language/chinese/ctex

[2021-12-27 09:02] RayKr commented on #305
Removing those two `\setCJKfamilyfont` lines , it also worked, but it lost the bold style.

[2021-12-28 03:02] huxuan commented on #305
Please try to add `AutoFakeBold` in the `documentclass` options as mentioned here [1]

[1] https://zhuanlan.zhihu.com/p/111368138 (the last part)

[2021-12-28 09:19] dualculture commented on #304
在插入的图片和之后的段落文字之间，视觉上有空行的感觉，不知道是不是行间距设置的问题。

蒋浩
hugo.jiang

[2022-01-05 02:55] dualculture commented on #304
你好关于下面这段设置，想请教下，为什么间距是以“3pt plus 3pt minus 2pt”这样的格式做的设置，3、3、2分别代表的何值？默认设置下图片、表格、代码段和下面段落的距离会比较大，不知道如何调整？e.g:如下图这样，此代码片段我未设置题注，但是距离后面的段落的距离非常大，不知道要怎么调整？%%%%%%%%%% space %%%%%%%%%%% 其他间距\renewcommand{\baselinestretch}{1.5}\setlength{\parindent}{2em}\setlength{\floatsep}{3pt plus 3pt minus 2pt}      % 图形之间或图形与正文之间的距离\setlength{\abovecaptionskip}{10pt plus 1pt minus 1pt} % 图形中的图与标题之间的距离\setlength{\be

[2022-02-17 01:03] VoyagerCoder opened #306 "开题报告封面姓名问题"
开题报告的姓名那行似乎应该是“姓名”，不是“本科生”？

[2022-02-17 01:50] sighingnow commented on #306
![image](https://user-images.githubusercontent.com/7144772/154389012-9bb8d48a-ebc9-408f-a5f7-8c2aa40df542.png)

现在本科生论文封面是这样的（master branch），问题中具体指的哪里呀？

[2022-02-17 01:56] sighingnow commented on #305
Hi @RayKr 对于Mac上这个报错，按照 #307 安装SimSun和SimHei这两个字体之后可以解决。

[2022-02-17 01:56] #305 closed

[2022-02-17 02:39] VoyagerCoder commented on #306
在模板文件[buaathesis.cls](https://github.com/BHOSC/BUAAthesis/blob/master/buaathesis.cls)里面
![5332686a43b7d51f8eb20652dab425c](https://user-images.githubusercontent.com/82797085/154393469-d164d252-de2f-46ef-9550-aef0d8508d63.png)
两处地方似乎应该是“姓名”
文档对应位置：
![e3eb8648bf240e0adeaa5f82006708b](https://user-images.githubusercontent.com/82797085/154394114-8b4588e2-acb9-4861-ad08-51eef20187da.png)

[2022-02-17 03:42] sighingnow commented on #306
I see.

[2022-02-17 03:43] #306 closed

[2022-02-23 05:09] Beyer-Yan opened #309 "Incorrect layout for reference in MacOS"
Hi, I run the sample-master.tex in MacOS with mactex 2020, but get incorrect reference layout.
![image](https://user-images.githubusercontent.com/23522763/155264502-006ec8b5-213b-41a8-a93e-73cddc9741cd.png)

What parameters should I configure to make it work, like [1], [2-5].
Thanks!

[2022-02-23 05:38] sighingnow commented on #309
You need to run `make master` to make sure the bib are processed correctly for references.

[2022-02-24 01:58] sighingnow commented on #309
Close as invalid.

@Beyer-Yan Free to reopen if you have any further questions 😆

[2022-02-24 06:10] Beyer-Yan commented on #309
I did run with `make master`.  I did not change anything for this template, but it failed to work.  But when I tried the example from GB-7714 repo, it gave the correct reference layout as expected.

[2022-02-24 06:37] sighingnow commented on #309
I will double check that.

[2022-03-09 15:17] Theigrams commented on #309
I have the same problem in M1 MBP, and the author names are all capitalized.

<img width="880" alt="image" src="https://user-images.githubusercontent.com/26341831/157470643-59cc07d3-3df2-4d70-9c2a-307b1e4390bc.png">

[2022-03-23 05:07] Great-designer opened #310 "话说现在如何才能联系到《北航开源俱乐部》呢"
RT。

[2022-03-23 05:20] huxuan commented on #310
这里现在都是一帮老古董了 - -

[2022-03-23 05:43] sighingnow commented on #310
👀

[2022-03-23 11:15] Great-designer commented on #310
所以现在还能加入俱乐部吗

[2022-03-23 11:25] huxuan commented on #310
我感觉没有“加入”一说了，可以考虑组织起来。

[2022-03-26 15:41] JasonHans commented on #155
这是在哪个文件里的什么位置修改呢？找遍了，也没找到

[2022-04-05 09:07] dualculture opened #311 "长表格正文内容字号不是小五，要如何设置？"

[2022-04-05 10:09] dualculture commented on #311
请问长表格设置字体为五号的问题有没有解决方法了，非常感谢🙏

[2022-04-26 15:25] STORMTROOPERRR commented on #311
do it yourself

[2022-04-27 02:56] dualculture commented on #311
Thank you very much, I have got the way.

[2022-04-30 14:57] Theigrams commented on #309
It can be solved by modifying the option in `gbt7714-numerical.bst`

1. `#1 'uppercase.name :=` -> `#0 'uppercase.name :=`
2. `#1 'sentence.case.title :=` -> `#0 'sentence.case.title :=`

[2022-05-07 10:09] h4yk3r commented on #155
给后来的同学总结一下，目前是2022/5/7，按照@BiggerHao 的方法解决了参考文献的问题，如果有和我一样用make的把makefile文件里的bibtex改成biber即可，msmake文件里也这么改就行，使用的版本为texlive2022

另外还有个小问题就是我有一篇参考文献标题里面有公式，会报错，然后编译出来显示是放在一行QAQ虽然公式没法转行他也没另起一行，而且这bst的语法实属有点哈人完全不敢改

[2022-05-11 02:12] RayKr commented on #305
Thanks, it's work!

[2022-05-29 12:55] Mingzefei opened #312 "Bachelor thesis seems no longer need to be converted from pdf to docx format"
22届本科生使用了新的系统，可以直接提交pdf版本，到提交答辩版文稿为止未出现问题（但系统似乎无法检查pdf论文格式）。
如果后续仍涉及docx，我会在毕业后更新这个issue。

[2022-06-09 13:10] FlyingHeNanman commented on #310
好可惜啊，我觉得学校应该关注到这个latex模板的问题。如果校方可以组织老师/同学来维护就很nice了。毕竟，latex写文章真的很方便（图引用，参考文献）

[2022-06-09 16:10] RayKr commented on #312
持续关注！硕士跟本科是一套系统吗？如果真的不用转docx，可谓喜大普奔了。

[2022-06-09 16:24] RayKr commented on #309
Thanks!

[2022-06-13 03:09] cpfy commented on #260
亲测可以通过修改 gbt7714-xxx.bst 文件解决，在文件中找到 `#1 'uppercase.name :=` ，修改为 `#0 'uppercase.name :=` 即可。

[2022-06-21 09:30] gyp2847399255 opened #313 "请问如何取消参考文献中的大小写锁定"
![image](https://user-images.githubusercontent.com/68111555/174766923-9a27315c-2d23-4eb2-a74b-cbedac7162d7.png)

类似于这里，我希望 TCP 字母都是大写。

另外，我还希望能删掉后面的 `[S.1.]:`，请问我该如何修改

[2022-06-23 02:11] HeartForXI commented on #155
我在2022/6/4，按照@BiggerHao的方法解决了参考文献的问题，S.1;s.n问题，全大写问题等等，主要使用TeXStudio，在选项-设置-构建里，设置默认文献工具为Biber，若使用其他IDE应该也要进行相应的修改。
gbnamefmt=lowercase是用来解决全大写问题。

主要方法如下：
在正文里注释掉以下两行：
% \bibliographystyle{buaathesis} % 参考文献格式
%\bibliographystyle{GBT7714-2015}

在buaa.cls文件里注释掉以下四行：
% \RequirePackage[sort&compress]{natbib}
% \bibpunct{[}{]}{,}{n}{}{}
% \setlength{\bibsep}{0pt}
%\newcommand{\upcite}[1]{\textsupersc

[2022-07-05 04:59] #313 closed

[2022-09-05 00:56] innerpeace715 opened #314 "Why not using the package nomencl for the 主要符号对照表 section"
相比于\item，nomencl能提供更多的灵活性

例如，似乎以下条目不能用\item来实现
\nomenclature[a]{$\mathbfit{u}=\begin{bmatrix}[0]u&v&w\end{bmatrix}^\mathrm{T}$}{速度矢量}

以下给出我的尝试作为参考：
root doc:
\usepackage{nomencl}
\renewcommand{\nomname}{\heiti 主要符号对照表}
\renewcommand{\nomgroup}[1]{
	\ifthenelse{\equal{#1}{A}}{\item[变量]}{
		\ifthenelse{\equal{#1}{B}}{\item[算符]}{
			\ifthenelse{\equal{#1}{C}}{\item[上标]}{
				\ifthenelse{\equal{#1}{

[2022-10-26 11:15] WLFJ commented on #310
同问，希望能再组织起来。

[2022-11-06 02:37] huxuan commented on #310
是不是可以先搞个 slack / discord 啥的，让大家可以聊起来。

[2022-11-09 01:09] oldtwotian opened #315 "不同页面段落间距不同"
最近使用模板期间发现奇数偶数页面的段落间距会有明显差异，肉眼可见，不知道这是什么情况导致的

[2022-11-15 02:33] WLFJ commented on #310
slack: https://join.slack.com/t/w1668479428-ebo458059/shared_invite/zt-1jqw6le39-71Dbn_wFeQl_zxJx28hAvg
欢迎大家来玩！